<p>
    <h2>АзияСпа - Новый Вопрос</h2>
    <hr>
    <p>Кому вопрос: {{ object.spec }}</p>
    <p>Электронная почта автора: {{ object.email }}</p>
    <h3>Вопрос:</h3>
    <p>{{object.question|linebreaks}}</p>
</p>