<div class="modal-box" id="review-form-modal">
    <div class="top"></div>
    <div class="content">
        <div class="super-heading">
            <h1>Задать вопрос специалисту клиники «Asia-Spa»</h1>
            <p>Мы будем рады ответить на Ваш вопрос</p>
        </div>
        <form action="{% url spec_q_form_url %}" method="post" class="form fancybox-response">
            {% csrf_token %}
            <fieldset class="is-hidden">
                {{form.spec}}
            </fieldset>
            <fieldset class="inline fieldset-with-textarea">
                <div class="label-box required">
                    <label for="question-form-message">Сообщение</label>
                </div>
                <div class="field-box {% if form.question.errors %} is-with-errors{% endif %}">
                    <textarea name="question" id="question-form-message" cols="30" rows="10" class="textarea">{{form.question.value|default_if_none:''}}</textarea>
                </div>
            </fieldset>
            <fieldset class="inline">
                <div class="label-box required">
                    <label for="question-form-email">Электронная почта</label>
                </div>
                <div class="field-box {% if form.email.errors %} is-with-errors{% endif %}">
                    <input type="text" name="email" value="{{form.email.value|default_if_none:''}}" class="input input-big" id="question-form-email">
                </div>
            </fieldset>
            <div class="controls inline">
                <button type="submit" class="btn-orange">Отправить заявку</button>
                <div class="inline-hint"><strong>Поля, выделенные жирным, обязательны для заполнения</strong></div>
            </div>
        </form>
    </div>
    <div class="bottom"></div>
</div>