{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
<div class="col-19">
    <h1>Наши специалисты</h1>
    {% for spec in spec_list %}
    <div class="col-19 spec-item">
        <div class="spec box">
            <div class="col-5">
                <a href="" class="full-spec-link img-link">
                    {% thumbnail spec.image "149x174" as img %}
                        <img src="{{img.url}}" alt="" width="{{img.width}}" height="{{img.height}}">
                    {% empty %}
                        <img src="/static/img/noimage-spec.png" alt="" width="149" height="174">
                    {% endthumbnail %}
                </a>
            </div>
            <div class="col-13 spec-desc">
                <div class="h3"><a href="" class="full-spec-link">{{spec.initials}}</a></div>
                <div class="person-title"><em>{{spec.title}}</em></div>
                <p>{{spec.short_desc}}</p>
            </div>
        </div>
        <div class="spec-full box is-hidden">
            <div class="col-5">
                {% thumbnail spec.image "149x174" as img %}
                    <img src="{{img.url}}" alt="" width="{{img.width}}" height="{{img.height}}">
                {% empty %}
                    <img src="/static/img/noimage-spec.png" alt="" width="149" height="174">
                {% endthumbnail %}
            </div>
            <div class="col-13 spec-desc">
                <div class="h3">{{spec.initials}}</div>
                <div class="person-title"><em>{{spec.title}}</em></div>
                {{spec.description|safe}}
                <div class="controls">
                    <a href="{% url spec_q_form_url %}?spec={{spec.id}}" class="btn-orange fancybox fancybox.ajax">Задать вопрос</a>
                </div>
            </div>
            <div class="modal-close"></div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}