<p>
    <h2>АзияСпа - Ответ на ваш вопрос</h2>
    <hr>
    <h3>Вы спрашивали:</h3>
    <p>{{object.question|linebreaks}}</p>
    <h3>Ответ:</h3>
    <p>{{object.answer|linebreaks}}</p>
    <p>Автор ответа: {{ object.spec }}</p>
</p>