{% extends 'clinic.html' %}

{% load thumbnail siteblocks_extras %}

{% block clinic_content %}
<div class="col-19">
    <div class="col-14">
        <div class="text-page">
            <h1>{{page.title}}</h1>
            {{page.content|safe}}
        </div>
    </div>
    <div class="col-4 push-1 omega">
        {% get_side_random_spec %}
        {% get_side_random_review %}
    </div>
</div>
{% endblock %}