/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../sass/_base.scss */
.fancybox-skin,
.fancybox-wrap,
.fancybox-outer,
.fancybox-inner {
  background: transparent !important;
}

/* line 32, ../sass/_base.scss */
.fancybox-skin {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/pts55f_w.eot");
  src: local("PT Sans"), url("../fonts/PTS55F_W.woff") format("woff"), url("../fonts/PTS55F_W.ttf") format("truetype"), url("../fonts/PTS55F_W.svg#PTSans-Regular") format("svg");
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  src: url("pts56f_w.eot");
  src: local("PT Sans Italic"), url("../fonts/PTS56F_W.woff") format("woff"), url("../fonts/PTS56F_W.ttf") format("truetype"), url("../fonts/PTS56F_W.svg#PTSans-Italic") format("svg");
}

@font-face {
  font-family: 'PT Sans';
  src: url("pts75f_w.eot");
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Bold"), url("../fonts/PTS75F_W.woff") format("woff"), url("../fonts/PTS75F_W.ttf") format("truetype"), url("../fonts/PTS75F_W.svg#PTSans-Bold") format("svg");
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: url("pts76f_w.eot");
  src: local("../fonts/PT Sans Bold Italic"), url("../fonts/PTS76F_W.woff") format("woff"), url("../fonts/PTS76F_W.ttf") format("truetype"), url("../fonts/PTS76F_W.svg#PTSans-BoldItalic") format("svg");
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url("ptc55f_w.eot");
  src: local("PT Sans Caption"), url("../fonts/PTC55F_W.woff") format("woff"), url("../fonts/PTC55F_W.ttf") format("truetype"), url("../fonts/PTC55F_W.svg#PTSans-Caption") format("svg");
}

@font-face {
  font-family: 'PT Sans Caption';
  font-weight: bold;
  src: url("ptc75f_w.eot");
  src: local("PT Sans Caption Bold"), url("../fonts/PTC75F_W.woff") format("woff"), url("../fonts/TC75F_W.ttf") format("truetype"), url("../fonts/PTC75F_W.svg#PTSans-CaptionBold") format("svg");
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url("ptn57f_w.eot");
  src: local("PT Sans Narrow"), url("../fonts/PTN57F_W.woff") format("woff"), url("../fonts/PTN57F_W.ttf") format("truetype"), url("../fonts/PTN57F_W.svg#PTSans-Narrow") format("svg");
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  src: url("ptn77f_w.eot");
  src: local("PT Sans Narrow Bold"), url("../fonts/PTN77F_W.woff") format("woff"), url("../fonts/PTN77F_W.ttf") format("truetype"), url("../fonts/PTN77F_W.svg#PTSans-NarrowBold") format("svg");
}

/* line 126, ../sass/_base.scss */
html {
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 22px;
}

/* line 136, ../sass/_base.scss */
.col-24 {
  width: 960px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-24 {
  margin-left: 960px;
}

/* line 142, ../sass/_base.scss */
.pull-24 {
  margin-left: -960px;
}

/* line 145, ../sass/_base.scss */
.post-24 {
  margin-right: 960px;
}

/* line 148, ../sass/_base.scss */
.prefix-24 {
  padding-left: 960px;
}

/* line 151, ../sass/_base.scss */
.suffix-24 {
  padding-right: 960px;
}

/* line 136, ../sass/_base.scss */
.col-23 {
  width: 920px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-23 {
  margin-left: 920px;
}

/* line 142, ../sass/_base.scss */
.pull-23 {
  margin-left: -920px;
}

/* line 145, ../sass/_base.scss */
.post-23 {
  margin-right: 920px;
}

/* line 148, ../sass/_base.scss */
.prefix-23 {
  padding-left: 920px;
}

/* line 151, ../sass/_base.scss */
.suffix-23 {
  padding-right: 920px;
}

/* line 136, ../sass/_base.scss */
.col-22 {
  width: 880px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-22 {
  margin-left: 880px;
}

/* line 142, ../sass/_base.scss */
.pull-22 {
  margin-left: -880px;
}

/* line 145, ../sass/_base.scss */
.post-22 {
  margin-right: 880px;
}

/* line 148, ../sass/_base.scss */
.prefix-22 {
  padding-left: 880px;
}

/* line 151, ../sass/_base.scss */
.suffix-22 {
  padding-right: 880px;
}

/* line 136, ../sass/_base.scss */
.col-21 {
  width: 840px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-21 {
  margin-left: 840px;
}

/* line 142, ../sass/_base.scss */
.pull-21 {
  margin-left: -840px;
}

/* line 145, ../sass/_base.scss */
.post-21 {
  margin-right: 840px;
}

/* line 148, ../sass/_base.scss */
.prefix-21 {
  padding-left: 840px;
}

/* line 151, ../sass/_base.scss */
.suffix-21 {
  padding-right: 840px;
}

/* line 136, ../sass/_base.scss */
.col-20 {
  width: 800px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-20 {
  margin-left: 800px;
}

/* line 142, ../sass/_base.scss */
.pull-20 {
  margin-left: -800px;
}

/* line 145, ../sass/_base.scss */
.post-20 {
  margin-right: 800px;
}

/* line 148, ../sass/_base.scss */
.prefix-20 {
  padding-left: 800px;
}

/* line 151, ../sass/_base.scss */
.suffix-20 {
  padding-right: 800px;
}

/* line 136, ../sass/_base.scss */
.col-19 {
  width: 760px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-19 {
  margin-left: 760px;
}

/* line 142, ../sass/_base.scss */
.pull-19 {
  margin-left: -760px;
}

/* line 145, ../sass/_base.scss */
.post-19 {
  margin-right: 760px;
}

/* line 148, ../sass/_base.scss */
.prefix-19 {
  padding-left: 760px;
}

/* line 151, ../sass/_base.scss */
.suffix-19 {
  padding-right: 760px;
}

/* line 136, ../sass/_base.scss */
.col-18 {
  width: 720px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-18 {
  margin-left: 720px;
}

/* line 142, ../sass/_base.scss */
.pull-18 {
  margin-left: -720px;
}

/* line 145, ../sass/_base.scss */
.post-18 {
  margin-right: 720px;
}

/* line 148, ../sass/_base.scss */
.prefix-18 {
  padding-left: 720px;
}

/* line 151, ../sass/_base.scss */
.suffix-18 {
  padding-right: 720px;
}

/* line 136, ../sass/_base.scss */
.col-17 {
  width: 680px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-17 {
  margin-left: 680px;
}

/* line 142, ../sass/_base.scss */
.pull-17 {
  margin-left: -680px;
}

/* line 145, ../sass/_base.scss */
.post-17 {
  margin-right: 680px;
}

/* line 148, ../sass/_base.scss */
.prefix-17 {
  padding-left: 680px;
}

/* line 151, ../sass/_base.scss */
.suffix-17 {
  padding-right: 680px;
}

/* line 136, ../sass/_base.scss */
.col-16 {
  width: 640px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-16 {
  margin-left: 640px;
}

/* line 142, ../sass/_base.scss */
.pull-16 {
  margin-left: -640px;
}

/* line 145, ../sass/_base.scss */
.post-16 {
  margin-right: 640px;
}

/* line 148, ../sass/_base.scss */
.prefix-16 {
  padding-left: 640px;
}

/* line 151, ../sass/_base.scss */
.suffix-16 {
  padding-right: 640px;
}

/* line 136, ../sass/_base.scss */
.col-15 {
  width: 600px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-15 {
  margin-left: 600px;
}

/* line 142, ../sass/_base.scss */
.pull-15 {
  margin-left: -600px;
}

/* line 145, ../sass/_base.scss */
.post-15 {
  margin-right: 600px;
}

/* line 148, ../sass/_base.scss */
.prefix-15 {
  padding-left: 600px;
}

/* line 151, ../sass/_base.scss */
.suffix-15 {
  padding-right: 600px;
}

/* line 136, ../sass/_base.scss */
.col-14 {
  width: 560px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-14 {
  margin-left: 560px;
}

/* line 142, ../sass/_base.scss */
.pull-14 {
  margin-left: -560px;
}

/* line 145, ../sass/_base.scss */
.post-14 {
  margin-right: 560px;
}

/* line 148, ../sass/_base.scss */
.prefix-14 {
  padding-left: 560px;
}

/* line 151, ../sass/_base.scss */
.suffix-14 {
  padding-right: 560px;
}

/* line 136, ../sass/_base.scss */
.col-13 {
  width: 520px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-13 {
  margin-left: 520px;
}

/* line 142, ../sass/_base.scss */
.pull-13 {
  margin-left: -520px;
}

/* line 145, ../sass/_base.scss */
.post-13 {
  margin-right: 520px;
}

/* line 148, ../sass/_base.scss */
.prefix-13 {
  padding-left: 520px;
}

/* line 151, ../sass/_base.scss */
.suffix-13 {
  padding-right: 520px;
}

/* line 136, ../sass/_base.scss */
.col-12 {
  width: 480px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-12 {
  margin-left: 480px;
}

/* line 142, ../sass/_base.scss */
.pull-12 {
  margin-left: -480px;
}

/* line 145, ../sass/_base.scss */
.post-12 {
  margin-right: 480px;
}

/* line 148, ../sass/_base.scss */
.prefix-12 {
  padding-left: 480px;
}

/* line 151, ../sass/_base.scss */
.suffix-12 {
  padding-right: 480px;
}

/* line 136, ../sass/_base.scss */
.col-11 {
  width: 440px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-11 {
  margin-left: 440px;
}

/* line 142, ../sass/_base.scss */
.pull-11 {
  margin-left: -440px;
}

/* line 145, ../sass/_base.scss */
.post-11 {
  margin-right: 440px;
}

/* line 148, ../sass/_base.scss */
.prefix-11 {
  padding-left: 440px;
}

/* line 151, ../sass/_base.scss */
.suffix-11 {
  padding-right: 440px;
}

/* line 136, ../sass/_base.scss */
.col-10 {
  width: 400px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-10 {
  margin-left: 400px;
}

/* line 142, ../sass/_base.scss */
.pull-10 {
  margin-left: -400px;
}

/* line 145, ../sass/_base.scss */
.post-10 {
  margin-right: 400px;
}

/* line 148, ../sass/_base.scss */
.prefix-10 {
  padding-left: 400px;
}

/* line 151, ../sass/_base.scss */
.suffix-10 {
  padding-right: 400px;
}

/* line 136, ../sass/_base.scss */
.col-9 {
  width: 360px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-9 {
  margin-left: 360px;
}

/* line 142, ../sass/_base.scss */
.pull-9 {
  margin-left: -360px;
}

/* line 145, ../sass/_base.scss */
.post-9 {
  margin-right: 360px;
}

/* line 148, ../sass/_base.scss */
.prefix-9 {
  padding-left: 360px;
}

/* line 151, ../sass/_base.scss */
.suffix-9 {
  padding-right: 360px;
}

/* line 136, ../sass/_base.scss */
.col-8 {
  width: 320px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-8 {
  margin-left: 320px;
}

/* line 142, ../sass/_base.scss */
.pull-8 {
  margin-left: -320px;
}

/* line 145, ../sass/_base.scss */
.post-8 {
  margin-right: 320px;
}

/* line 148, ../sass/_base.scss */
.prefix-8 {
  padding-left: 320px;
}

/* line 151, ../sass/_base.scss */
.suffix-8 {
  padding-right: 320px;
}

/* line 136, ../sass/_base.scss */
.col-7 {
  width: 280px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-7 {
  margin-left: 280px;
}

/* line 142, ../sass/_base.scss */
.pull-7 {
  margin-left: -280px;
}

/* line 145, ../sass/_base.scss */
.post-7 {
  margin-right: 280px;
}

/* line 148, ../sass/_base.scss */
.prefix-7 {
  padding-left: 280px;
}

/* line 151, ../sass/_base.scss */
.suffix-7 {
  padding-right: 280px;
}

/* line 136, ../sass/_base.scss */
.col-6 {
  width: 240px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-6 {
  margin-left: 240px;
}

/* line 142, ../sass/_base.scss */
.pull-6 {
  margin-left: -240px;
}

/* line 145, ../sass/_base.scss */
.post-6 {
  margin-right: 240px;
}

/* line 148, ../sass/_base.scss */
.prefix-6 {
  padding-left: 240px;
}

/* line 151, ../sass/_base.scss */
.suffix-6 {
  padding-right: 240px;
}

/* line 136, ../sass/_base.scss */
.col-5 {
  width: 200px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-5 {
  margin-left: 200px;
}

/* line 142, ../sass/_base.scss */
.pull-5 {
  margin-left: -200px;
}

/* line 145, ../sass/_base.scss */
.post-5 {
  margin-right: 200px;
}

/* line 148, ../sass/_base.scss */
.prefix-5 {
  padding-left: 200px;
}

/* line 151, ../sass/_base.scss */
.suffix-5 {
  padding-right: 200px;
}

/* line 136, ../sass/_base.scss */
.col-4 {
  width: 160px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-4 {
  margin-left: 160px;
}

/* line 142, ../sass/_base.scss */
.pull-4 {
  margin-left: -160px;
}

/* line 145, ../sass/_base.scss */
.post-4 {
  margin-right: 160px;
}

/* line 148, ../sass/_base.scss */
.prefix-4 {
  padding-left: 160px;
}

/* line 151, ../sass/_base.scss */
.suffix-4 {
  padding-right: 160px;
}

/* line 136, ../sass/_base.scss */
.col-3 {
  width: 120px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-3 {
  margin-left: 120px;
}

/* line 142, ../sass/_base.scss */
.pull-3 {
  margin-left: -120px;
}

/* line 145, ../sass/_base.scss */
.post-3 {
  margin-right: 120px;
}

/* line 148, ../sass/_base.scss */
.prefix-3 {
  padding-left: 120px;
}

/* line 151, ../sass/_base.scss */
.suffix-3 {
  padding-right: 120px;
}

/* line 136, ../sass/_base.scss */
.col-2 {
  width: 80px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-2 {
  margin-left: 80px;
}

/* line 142, ../sass/_base.scss */
.pull-2 {
  margin-left: -80px;
}

/* line 145, ../sass/_base.scss */
.post-2 {
  margin-right: 80px;
}

/* line 148, ../sass/_base.scss */
.prefix-2 {
  padding-left: 80px;
}

/* line 151, ../sass/_base.scss */
.suffix-2 {
  padding-right: 80px;
}

/* line 136, ../sass/_base.scss */
.col-1 {
  width: 40px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-1 {
  margin-left: 40px;
}

/* line 142, ../sass/_base.scss */
.pull-1 {
  margin-left: -40px;
}

/* line 145, ../sass/_base.scss */
.post-1 {
  margin-right: 40px;
}

/* line 148, ../sass/_base.scss */
.prefix-1 {
  padding-left: 40px;
}

/* line 151, ../sass/_base.scss */
.suffix-1 {
  padding-right: 40px;
}

/* line 159, ../sass/_base.scss */
.page {
  *zoom: 1;
  width: 960px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 163, ../sass/_base.scss */
.clear {
  clear: both;
}

/* line 167, ../sass/_base.scss */
.omega {
  float: right;
  margin-right: 0;
  *margin-left: 0px;
  display: inline;
}

/* line 172, ../sass/_base.scss */
ul.inline > li {
  display: inline-block;
}
/* line 175, ../sass/_base.scss */
ul.inline > li + li {
  margin-left: 19px;
}

/* line 184, ../sass/_base.scss */
.i-container .col,
.i-container [class^="col-"],
.i-container [class*=" col-"] {
  display: inline-block;
  margin-right: -4px;
  float: none !important;
}

/* line 193, ../sass/_base.scss */
.box:before, .box:after {
  display: table;
  line-height: 0;
  content: "";
}
/* line 199, ../sass/_base.scss */
.box:after {
  clear: both;
}

/* line 204, ../sass/_base.scss */
.re {
  position: relative;
}

/* line 208, ../sass/_base.scss */
.ab {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 215, ../sass/_base.scss */
.action-link,
.action-link:hover {
  border-style: dotted;
}

/* line 219, ../sass/_base.scss */
.is-hidden {
  display: none;
}

/* line 223, ../sass/_base.scss */
.is-invisible {
  visibility: none;
}

/* line 227, ../sass/_base.scss */
a {
  color: #0a7aa6;
  text-decoration: none;
  border-bottom: 1px solid #b4e7fb;
}
/* line 230, ../sass/_base.scss */
a:hover {
  color: #ff8900;
  text-decoration: none;
  border-bottom: 1px solid #ffbe73;
}

/* line 236, ../sass/_base.scss */
.nav li.is-active > a, .v-nav li.is-active > a, .h-nav li.is-active > a {
  color: black;
  border-bottom: none;
  cursor: default;
}

/* line 248, ../sass/_base.scss */
.h-nav li {
  display: inline-block;
}

/* line 255, ../sass/_base.scss */
ul.v-centerred {
  display: table;
  table-layout: fixed;
}
/* line 259, ../sass/_base.scss */
ul.v-centerred > li {
  display: table-cell;
  vertical-align: middle;
}

/* line 265, ../sass/_base.scss */
div.v-centerred {
  display: table;
  table-layout: fixed;
}
/* line 269, ../sass/_base.scss */
div.v-centerred > div {
  display: table-cell;
  vertical-align: middle;
}

/* line 275, ../sass/_base.scss */
.img-rounded, .index-previews .index-preview-big img,
.index-previews .index-preview-medium img,
.index-previews .index-preview-small img, .previews .preview-item img, .soc-list .soc-item img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 280, ../sass/_base.scss */
.img-link,
.img-link:hover {
  display: inline-block;
  border-bottom: none;
}

/* line 285, ../sass/_base.scss */
.hr {
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
}

/* line 290, ../sass/_base.scss */
.btn, .btn-base,
.btn-base:hover, .btn-orange,
.btn-orange:hover {
  display: inline-block;
  padding: 6px 12px 8px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-family: "PT Sans";
  line-height: 16px;
  border: 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-box-shadow: #b8b0a7 0px 5px 5px -2px;
  -moz-box-shadow: #b8b0a7 0px 5px 5px -2px;
  box-shadow: #b8b0a7 0px 5px 5px -2px;
  text-shadow: #b8b0a7 1px 1px 0;
}
/* line 305, ../sass/_base.scss */
.btn.disabled, .disabled.btn-base, .disabled.btn-orange {
  opacity: 0.5;
  cursor: default;
}

/* line 312, ../sass/_base.scss */
.btn-base,
.btn-base:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(top, #ffffff, #dddddd);
  color: #000000;
  border-color: #dddddd;
}

/* line 320, ../sass/_base.scss */
.btn-orange,
.btn-orange:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8900), color-stop(100%, #db7100));
  background-image: -webkit-linear-gradient(top, #ff8900, #db7100);
  background-image: -moz-linear-gradient(top, #ff8900, #db7100);
  background-image: -o-linear-gradient(top, #ff8900, #db7100);
  background-image: linear-gradient(top, #ff8900, #db7100);
  color: #ffffff;
  border-color: #c9720d;
  -webkit-box-shadow: #b8b0a7 0px 5px 5px -2px, #edb87f 0px 1px 0px 0px inset, #7d4100 0px -1px 0px 0px inset, #c9720d -1px 0px 0px 0px inset;
  -moz-box-shadow: #b8b0a7 0px 5px 5px -2px, #edb87f 0px 1px 0px 0px inset, #7d4100 0px -1px 0px 0px inset, #c9720d -1px 0px 0px 0px inset;
  box-shadow: #b8b0a7 0px 5px 5px -2px, #edb87f 0px 1px 0px 0px inset, #7d4100 0px -1px 0px 0px inset, #c9720d -1px 0px 0px 0px inset;
  text-shadow: #853a02 1px 1px 0;
}

/* line 329, ../sass/_base.scss */
.cell-line {
  display: table;
}
/* line 332, ../sass/_base.scss */
.cell-line > * {
  display: table-cell;
  float: none !important;
  vertical-align: middle;
}

/* line 339, ../sass/_base.scss */
.left-text {
  text-align: left;
}

/* line 343, ../sass/_base.scss */
.center-text {
  text-align: center;
}

/* line 347, ../sass/_base.scss */
.right-text {
  text-align: right;
}

/* line 58, ../sass/_base.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 62, ../sass/_base.scss */
body {
  margin-bottom: 77px;
  /* bottom = footer height */
}

/* line 65, ../sass/_base.scss */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 77px;
}

/* line 18, ../sass/_style.scss */
.main {
  padding-bottom: 54px;
}

/* line 25, ../sass/_style.scss */
body {
  background: url('../img/bg-gradient.png?1375193613') top center no-repeat;
}

/* line 29, ../sass/_style.scss */
.person-img {
  margin-bottom: 18px;
}

/* line 36, ../sass/_style.scss */
.base-text {
  font-size: 15px;
  line-height: 22px;
}

/* line 41, ../sass/_style.scss */
.small-text {
  font-size: 12px;
  line-height: 14px;
}

/* line 46, ../sass/_style.scss */
.medium-text {
  font-size: 14px;
  line-height: 18px;
}

/* line 51, ../sass/_style.scss */
.muted-text {
  color: gray;
}

/* line 55, ../sass/_style.scss */
strong {
  font-weight: bold;
}

/* line 59, ../sass/_style.scss */
em {
  font-style: italic;
}

/* line 63, ../sass/_style.scss */
p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 8px;
}
/* line 68, ../sass/_style.scss */
p.right-pad {
  padding-right: 40px;
}

/* line 73, ../sass/_style.scss */
a.multiline {
  line-height: 22px;
}

/* line 77, ../sass/_style.scss */
h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin-bottom: 12px;
}
/* line 81, ../sass/_style.scss */
* + h1, * + h2, * + h3, * + h4, * + h5 {
  margin-top: 15px;
}
/* line 85, ../sass/_style.scss */
p + h1, p + h2, p + h3, p + h4, p + h5 {
  margin-top: 30px;
}
/* line 89, ../sass/_style.scss */
h1.extra-bottom-margin, h2.extra-bottom-margin, h3.extra-bottom-margin, h4.extra-bottom-margin, h5.extra-bottom-margin {
  margin-bottom: 30px;
}
/* line 93, ../sass/_style.scss */
h1.extra-top-margin, h2.extra-top-margin, h3.extra-top-margin, h4.extra-top-margin, h5.extra-top-margin {
  margin-top: 30px;
}

/* line 98, ../sass/_style.scss */
h1 {
  font-size: 30px;
  line-height: 30px;
}

/* line 103, ../sass/_style.scss */
h2 {
  font-size: 24px;
  line-height: 24px;
}

/* line 108, ../sass/_style.scss */
.h3 {
  font-size: 22px;
  line-height: 36px;
  font-weight: bold;
}

/* line 114, ../sass/_style.scss */
h3 {
  font-size: 22px;
  line-height: 22px;
}

/* line 119, ../sass/_style.scss */
h4 {
  font-size: 18px;
  line-height: 18px;
}

/* line 124, ../sass/_style.scss */
h5 {
  font-size: 16px;
  line-height: 16px;
}

/* line 129, ../sass/_style.scss */
ul.text-ul {
  margin-left: 24px;
}
/* line 132, ../sass/_style.scss */
ul.text-ul li {
  margin-bottom: 12px;
}

/* line 140, ../sass/_style.scss */
.main-nav {
  font-weight: bold;
  font-size: 16px;
}
/* line 145, ../sass/_style.scss */
.main-nav li + li {
  margin-left: 15px;
}
/* line 148, ../sass/_style.scss */
.main-nav li + li:before {
  content: '/';
  display: inline-block;
  color: #f1c5bd;
  margin-right: 15px;
}

/* line 158, ../sass/_style.scss */
.side-nav {
  font-weight: bold;
}
/* line 161, ../sass/_style.scss */
.side-nav > li {
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 15px;
}
/* line 166, ../sass/_style.scss */
.side-nav > li + li {
  padding-top: 15px;
}
/* line 170, ../sass/_style.scss */
.side-nav > li.is-expanded {
  background: rgba(233, 199, 164, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin-right: -15px;
  padding-right: 15px;
  margin-left: -15px;
  padding-left: 15px;
  padding-bottom: 20px;
}
/* line 176, ../sass/_style.scss */
.side-nav > li.is-expanded:first-child {
  margin-top: -15px;
  padding-top: 15px;
}
/* line 181, ../sass/_style.scss */
.side-nav > li.hr-top {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 4px;
}
/* line 186, ../sass/_style.scss */
.side-nav > li.is-expanded + li.hr-top {
  margin-top: 19px;
}
/* line 190, ../sass/_style.scss */
.side-nav > li.is-expanded > ul {
  display: block;
}
/* line 194, ../sass/_style.scss */
.side-nav > li > ul {
  margin-left: 13px;
  display: none;
}
/* line 198, ../sass/_style.scss */
.side-nav > li > ul > li {
  margin-top: 15px;
  font-size: 14px;
  width: 90%;
}
/* line 203, ../sass/_style.scss */
.side-nav > li > ul > li.is-active {
  position: relative;
  margin-left: -22px;
  padding-left: 22px;
}
/* line 207, ../sass/_style.scss */
.side-nav > li > ul > li.is-active:after, .side-nav > li > ul > li.is-active:before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
}
/* line 214, ../sass/_style.scss */
.side-nav > li > ul > li.is-active:before {
  left: 0;
  height: 50px;
  width: 100%;
  background: url('../img/main-nav-bg.png?1374829389');
}
/* line 221, ../sass/_style.scss */
.side-nav > li > ul > li.is-active:after {
  right: -22px;
  height: 50px;
  width: 22px;
  background: url('../img/main-nav-bg.png?1374829389');
  background-position: 22px;
}

/* line 234, ../sass/_style.scss */
.center-nav {
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  margin-left: 22px;
  margin-bottom: 30px;
}
/* line 241, ../sass/_style.scss */
.center-nav li {
  margin-right: 50px;
}
/* line 244, ../sass/_style.scss */
.center-nav li.is-active {
  position: relative;
  background: url('../img/main-nav-bg.png?1374829389');
  padding-left: 22px;
  margin-left: -22px;
}
/* line 250, ../sass/_style.scss */
.center-nav li.is-active:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -22px;
  height: 50px;
  width: 22px;
  background: url('../img/main-nav-bg.png?1374829389');
  background-position: 22px;
}
/* line 263, ../sass/_style.scss */
.center-nav li:last-child {
  margin-right: 0px;
}

/* line 269, ../sass/_style.scss */
.calendar-nav {
  font-size: 20px;
  font-weight: bold;
}
/* line 274, ../sass/_style.scss */
.calendar-nav li + li {
  margin-top: 25px;
}
/* line 278, ../sass/_style.scss */
.calendar-nav li.is-active {
  position: relative;
  margin-left: -19px;
  padding-left: 19px;
}
/* line 282, ../sass/_style.scss */
.calendar-nav li.is-active:after, .calendar-nav li.is-active:before {
  content: '';
  display: block;
  position: absolute;
  top: -15px;
}
/* line 289, ../sass/_style.scss */
.calendar-nav li.is-active:before {
  left: 0px;
  height: 50px;
  width: 100px;
  background: url('../img/main-nav-bg.png?1374829389');
}
/* line 296, ../sass/_style.scss */
.calendar-nav li.is-active:after {
  right: 57px;
  height: 50px;
  width: 22px;
  background: url('../img/main-nav-bg.png?1374829389');
  background-position: 22px;
}

/* line 309, ../sass/_style.scss */
.highlighted {
  background: #ffebd5;
  margin-top: -12px;
  padding-top: 12px;
  margin-right: -12px;
  padding-right: 12px;
  margin-bottom: -12px;
  padding-bottom: 12px;
  margin-left: -12px;
  padding-left: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 314, ../sass/_style.scss */
.icon-phone {
  display: block;
  background: url('../img/icon-phone.png?1374829389');
  height: 26px;
  width: 26px;
}
/* line 320, ../sass/_style.scss */
.phone .icon-phone {
  position: absolute;
  top: -6px;
  left: -30px;
}

/* line 327, ../sass/_style.scss */
.icon-mark {
  display: block;
  background: url('../img/icon-mark.png?1374829389');
  height: 26px;
  width: 26px;
}
/* line 333, ../sass/_style.scss */
.address .icon-mark {
  position: absolute;
  top: -6px;
  left: -30px;
}

/* line 340, ../sass/_style.scss */
.special-box {
  position: relative;
  margin-top: 36px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 35px;
}
/* line 347, ../sass/_style.scss */
.review-author + .special-box {
  margin-top: 54px;
}
/* line 352, ../sass/_style.scss */
.special-box:before, .special-box:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 24px;
}
/* line 361, ../sass/_style.scss */
.special-box:before {
  background: url('../img/box-bg-left.png?1374829389');
  background-size: 100% 100%;
  left: -24px;
}
/* line 367, ../sass/_style.scss */
.special-box:after {
  background: url('../img/box-bg-right.png?1374829389');
  background-size: 100% 100%;
  right: -24px;
}
/* line 373, ../sass/_style.scss */
.special-box .top {
  position: absolute;
  height: 21px;
  width: 100%;
  top: -21px;
  left: 0px;
  background: url('../img/box-bg-top.png?1374829389');
}
/* line 382, ../sass/_style.scss */
.special-box .top:before, .special-box .top:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 21px;
  width: 24px;
}
/* line 391, ../sass/_style.scss */
.special-box .top:before {
  background: url('../img/box-bg-top-left.png?1374829389');
  left: -24px;
}
/* line 396, ../sass/_style.scss */
.special-box .top:after {
  background: url('../img/box-bg-top-right.png?1374829389');
  right: -24px;
}
/* line 402, ../sass/_style.scss */
.special-box .bottom {
  position: absolute;
  height: 21px;
  width: 100%;
  bottom: -21px;
  left: 0px;
  background: url('../img/box-bg-bottom.png?1374829389');
}
/* line 411, ../sass/_style.scss */
.special-box .bottom:before, .special-box .bottom:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 19px;
  width: 24px;
}
/* line 420, ../sass/_style.scss */
.special-box .bottom:before {
  background: url('../img/box-bg-bottom-left.png?1374829389');
  left: -24px;
}
/* line 425, ../sass/_style.scss */
.special-box .bottom:after {
  background: url('../img/box-bg-bottom-right.png?1374829389');
  right: -24px;
}
/* line 432, ../sass/_style.scss */
.special-box.with-triangle .bottom {
  background: url('../img/box-bg-bottom-with-triangle.png?1374843954');
  height: 28px;
  bottom: -28px;
}

/* line 440, ../sass/_style.scss */
.index-previews {
  margin-bottom: 36px;
}
/* line 445, ../sass/_style.scss */
.index-previews .index-preview-big,
.index-previews .index-preview-medium,
.index-previews .index-preview-small {
  float: left;
  margin-bottom: 18px;
}
/* line 454, ../sass/_style.scss */
.index-previews .index-preview-big {
  width: 260px;
}
/* line 458, ../sass/_style.scss */
.index-previews .index-preview-medium {
  width: 300px;
  margin-left: 20px;
}
/* line 463, ../sass/_style.scss */
.index-previews .index-preview-small {
  width: 160px;
  margin-left: 20px;
}

/* line 469, ../sass/_style.scss */
.previews {
  margin-top: 30px;
}
/* line 472, ../sass/_style.scss */
.previews .preview-item {
  width: 160px;
  float: left;
  margin-right: 0px;
  display: inline;
  margin-right: 40px;
  margin-bottom: 18px;
}
/* line 477, ../sass/_style.scss */
.previews .preview-item .img-box {
  width: 160px;
  height: 92px;
  position: relative;
}
/* line 482, ../sass/_style.scss */
.previews .preview-item .img-box.img-with-blik:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url('../img/blik.png?1375191899');
  background-size: cover;
}
/* line 494, ../sass/_style.scss */
.previews .preview-item img {
  -webkit-box-shadow: #b8b0a7 0px 5px 5px -2px;
  -moz-box-shadow: #b8b0a7 0px 5px 5px -2px;
  box-shadow: #b8b0a7 0px 5px 5px -2px;
}
/* line 499, ../sass/_style.scss */
.previews .preview-item:nth-child(3n) {
  margin-right: 0 !important;
}

/* line 506, ../sass/_style.scss */
.contaxts-page .contacts {
  margin-top: 18px;
  margin-left: 40px;
}
/* line 510, ../sass/_style.scss */
.contaxts-page .contacts .phone {
  margin-top: 20px;
  position: relative;
  font-size: 22px;
  font-weight: bold;
}
/* line 516, ../sass/_style.scss */
.contaxts-page .contacts .phone .icon-phone {
  top: -2px;
}
/* line 521, ../sass/_style.scss */
.contaxts-page .contacts .address {
  position: relative;
}

/* line 528, ../sass/_style.scss */
.reviews .reviews-side {
  padding-top: 24px;
}
/* line 531, ../sass/_style.scss */
.reviews .reviews-side .btn-orange {
  margin-top: 12px;
}

/* line 537, ../sass/_style.scss */
.review-author {
  margin-left: 30px;
}

/* line 542, ../sass/_style.scss */
.service .highlighted {
  margin-top: 36px;
}
/* line 545, ../sass/_style.scss */
.service .highlighted .btn-orange {
  margin-top: 12px;
}
/* line 550, ../sass/_style.scss */
.service .service-price {
  margin-top: 24px;
  font-size: 18px;
  font-weight: bold;
}

/* line 557, ../sass/_style.scss */
.service-side {
  margin-top: 54px;
}
/* line 560, ../sass/_style.scss */
.service-side .person-img {
  margin-top: 36px;
  margin-bottom: 0px;
}
/* line 565, ../sass/_style.scss */
.service-side .btn-orange {
  margin-top: 12px;
}
/* line 569, ../sass/_style.scss */
.service-side .special-box {
  margin-left: 0px;
  margin-right: 0px;
}
/* line 574, ../sass/_style.scss */
.service-side .reviews-box {
  margin-top: 54px;
}
/* line 578, ../sass/_style.scss */
.service-side .review-author {
  margin-left: 0px;
}

/* line 584, ../sass/_style.scss */
.soc-list .soc-item {
  margin-right: 40px;
  margin-bottom: 36px;
}
/* line 588, ../sass/_style.scss */
.soc-list .soc-item a {
  font-weight: bold;
}
/* line 592, ../sass/_style.scss */
.soc-list .soc-item:nth-child(2n+n) {
  margin-right: 0px;
}
/* line 596, ../sass/_style.scss */
.soc-list .soc-item img {
  margin-bottom: 18px;
}

/* line 603, ../sass/_style.scss */
.spec-item {
  margin-top: 18px;
  position: relative;
}
/* line 607, ../sass/_style.scss */
.spec-item + .spec-item {
  margin-top: 36px;
}
/* line 611, ../sass/_style.scss */
.spec-item .spec-desc {
  padding-top: 54px;
}
/* line 614, ../sass/_style.scss */
.spec-item .spec-desc .person-title {
  margin-bottom: 8px;
}
/* line 619, ../sass/_style.scss */
.spec-item .spec-full {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  background: white;
  margin-top: -18px;
  padding-top: 18px;
  margin-right: -18px;
  padding-right: 18px;
  margin-bottom: -18px;
  padding-bottom: 18px;
  margin-left: -18px;
  padding-left: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 629, ../sass/_style.scss */
.spec-item .spec-full .modal-close {
  background: url('../img/modal-close-spec.png?1375190531');
  width: 36px;
  height: 36px;
  position: absolute;
  top: 9px;
  right: 9px;
  cursor: pointer;
}
/* line 639, ../sass/_style.scss */
.spec-item .spec-full .controls {
  margin-top: 18px;
  margin-bottom: 18px;
}

/* line 649, ../sass/_style.scss */
.form {
  padding-bottom: 18px;
  font-size: 16px;
  line-height: 18px;
}
/* line 654, ../sass/_style.scss */
.form .required {
  font-weight: bold;
}
/* line 658, ../sass/_style.scss */
.form .top-text {
  padding-bottom: 6px;
}
/* line 662, ../sass/_style.scss */
.form .bottom-text {
  padding-top: 6px;
}
/* line 666, ../sass/_style.scss */
.form .hint {
  font-size: 14px;
}
/* line 673, ../sass/_style.scss */
.form fieldset.inline .label-box,
.form fieldset.inline .field-box {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}
/* line 678, ../sass/_style.scss */
.form fieldset.inline .label-box h3,
.form fieldset.inline .field-box h3 {
  margin-bottom: 0px;
}
/* line 683, ../sass/_style.scss */
.form fieldset.inline .label-box {
  width: 125px;
  padding-right: 50px;
}
/* line 688, ../sass/_style.scss */
.form fieldset.inline .field-box + .field-box {
  margin-left: 38px;
}
/* line 695, ../sass/_style.scss */
.form fieldset.top-input-text .label-box,
.form fieldset.top-input-text .field-box {
  vertical-align: top;
}
/* line 699, ../sass/_style.scss */
.form fieldset.top-input-text .label-box {
  padding-top: 22px;
}
/* line 706, ../sass/_style.scss */
.form fieldset.fieldset-with-textarea .label-box,
.form fieldset.fieldset-with-textarea .field-box {
  vertical-align: top;
}
/* line 713, ../sass/_style.scss */
.form .field-box.field-box-medium {
  width: 185px;
}
/* line 719, ../sass/_style.scss */
.form .field-box.is-with-errors input,
.form .field-box.is-with-errors textarea {
  border-color: red;
}
/* line 725, ../sass/_style.scss */
.form * + fieldset {
  margin-top: 26px;
}
/* line 729, ../sass/_style.scss */
.form .controls {
  margin-left: 175px;
}
/* line 733, ../sass/_style.scss */
.form .controls.inline button, .form .controls.inline .inline-hint {
  vertical-align: top;
}
/* line 738, ../sass/_style.scss */
.form .controls .inline-hint {
  margin-left: 20px;
  width: 200px;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
}
/* line 747, ../sass/_style.scss */
.form * + .controls {
  margin-top: 36px;
}
/* line 752, ../sass/_style.scss */
.form input,
.form textarea {
  font-family: "PT Sans";
  font-size: 15px;
}
/* line 757, ../sass/_style.scss */
.form .input {
  line-height: 26px;
  height: 26px;
  border: 1px solid #a8a8a8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 758, ../sass/_style.scss */
.form .input:focus {
  outline: none;
}
/* line 769, ../sass/_style.scss */
.form .input.input-big {
  width: 285px;
}
/* line 773, ../sass/_style.scss */
.form .input.input-medium {
  width: 175px;
}
/* line 777, ../sass/_style.scss */
.form .input.input-phone {
  width: 260px;
}
/* line 782, ../sass/_style.scss */
.form .textarea {
  resize: none;
  line-height: 18px;
  border: 1px solid #a8a8a8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  width: 285px;
  height: 180px;
}
/* line 790, ../sass/_style.scss */
.form .textarea:focus {
  outline: none;
}
/* line 798, ../sass/_style.scss */
.form .phone-lead {
  display: inline-block;
  width: 20px;
  padding-right: 5px;
}

/* line 807, ../sass/_style.scss */
.header {
  margin-bottom: 18px;
}
/* line 810, ../sass/_style.scss */
.header .page {
  height: 90px;
}
/* line 815, ../sass/_style.scss */
.header .phone-box .small-text {
  margin-top: 2px;
  margin-bottom: 3px;
}
/* line 821, ../sass/_style.scss */
.header .phone {
  font-size: 18px;
  line-height: 14px;
  position: relative;
}

/* line 831, ../sass/_style.scss */
.footer .page {
  border-top: 2px solid #d7dcde;
  height: 75px;
}
/* line 835, ../sass/_style.scss */
.footer .page img {
  vertical-align: middle;
}

/* line 841, ../sass/_style.scss */
span.icon-octo {
  display: inline-block;
  background: url('../img/octoberweb-logo.png?1374829389');
  width: 21px;
  height: 22px;
  margin-right: 10px;
}

/* line 852, ../sass/_style.scss */
.modal-close {
  background: url('../img/modal-close.png?1372844052');
  width: 36px;
  height: 36px;
  position: absolute;
  top: -33px;
  right: -33px;
  cursor: pointer;
}

/* line 862, ../sass/_style.scss */
.modal-box {
  width: 400px;
  min-height: 180px;
  background: white;
  position: relative;
  margin-top: 22px;
  margin-left: 34px;
  margin-right: 34px;
  margin-bottom: 20px;
}
/* line 874, ../sass/_style.scss */
.modal-box:before, .modal-box:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 34px;
  z-index: -1;
}
/* line 884, ../sass/_style.scss */
.modal-box:before {
  background: url('../img/modal-bg-left.png?1375172880');
  background-size: 100% 100%;
  left: -34px;
}
/* line 890, ../sass/_style.scss */
.modal-box:after {
  background: url('../img/modal-bg-right.png?1375172880');
  background-size: 100% 100%;
  right: -34px;
}
/* line 896, ../sass/_style.scss */
.modal-box .top {
  position: absolute;
  height: 22px;
  width: 100%;
  top: -22px;
  left: 0px;
  background: url('../img/modal-bg-top.png?1375172880');
  z-index: -1;
}
/* line 906, ../sass/_style.scss */
.modal-box .top:before, .modal-box .top:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 22px;
  width: 34px;
  z-index: -1;
}
/* line 916, ../sass/_style.scss */
.modal-box .top:before {
  background: url('../img/modal-bg-top-left.png?1375172880');
  left: -34px;
}
/* line 921, ../sass/_style.scss */
.modal-box .top:after {
  background: url('../img/modal-bg-top-right.png?1375172880');
  right: -34px;
}
/* line 927, ../sass/_style.scss */
.modal-box .bottom {
  position: absolute;
  height: 20px;
  width: 100%;
  bottom: -20px;
  left: 0px;
  background: url('../img/modal-bg-bottom.png?1375172880');
  z-index: -1;
}
/* line 937, ../sass/_style.scss */
.modal-box .bottom:before, .modal-box .bottom:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 20px;
  width: 34px;
  z-index: -1;
}
/* line 947, ../sass/_style.scss */
.modal-box .bottom:before {
  background: url('../img/modal-bg-bottom-left.png?1375172880');
  left: -34px;
}
/* line 952, ../sass/_style.scss */
.modal-box .bottom:after {
  background: url('../img/modal-bg-bottom-right.png?1375172880');
  right: -34px;
}

/* line 959, ../sass/_style.scss */
#service-form-modal {
  width: 690px;
}

/* line 963, ../sass/_style.scss */
#question-form-modal {
  width: 690px;
}

/* line 967, ../sass/_style.scss */
#review-form-modal {
  width: 690px;
}

/* line 971, ../sass/_style.scss */
.super-heading {
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: 40px;
  font-size: 16px;
}

/* line 981, ../sass/_style.scss */
.backup {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -3;
}
/* line 989, ../sass/_style.scss */
.backup .grid {
  background: url('../img/grid.png?1374829389') repeat-y;
  height: 100%;
  width: 1024px;
  margin: 0 auto;
}

/* line 996, ../sass/_style.scss */
.one, .two {
  height: 100px;
  width: 100px;
  background: gray;
}

/* line 1001, ../sass/_style.scss */
.one {
  margin-bottom: 50px;
}

/* line 1004, ../sass/_style.scss */
.two {
  margin-top: 50px;
}

/* line 1007, ../sass/_style.scss */
.modal-in {
  height: 300px;
  width: 400px;
  background: gray;
}
