/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../sass/_base.scss */
.fancybox-skin,
.fancybox-wrap,
.fancybox-outer,
.fancybox-inner {
  background: transparent !important;
}

/* line 32, ../sass/_base.scss */
.fancybox-skin {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/pts55f_w.eot");
  src: local("PT Sans"), url("../fonts/PTS55F_W.woff") format("woff"), url("../fonts/PTS55F_W.ttf") format("truetype"), url("../fonts/PTS55F_W.svg#PTSans-Regular") format("svg");
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  src: url("pts56f_w.eot");
  src: local("PT Sans Italic"), url("../fonts/PTS56F_W.woff") format("woff"), url("../fonts/PTS56F_W.ttf") format("truetype"), url("../fonts/PTS56F_W.svg#PTSans-Italic") format("svg");
}

@font-face {
  font-family: 'PT Sans';
  src: url("pts75f_w.eot");
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Bold"), url("../fonts/PTS75F_W.woff") format("woff"), url("../fonts/PTS75F_W.ttf") format("truetype"), url("../fonts/PTS75F_W.svg#PTSans-Bold") format("svg");
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: url("pts76f_w.eot");
  src: local("../fonts/PT Sans Bold Italic"), url("../fonts/PTS76F_W.woff") format("woff"), url("../fonts/PTS76F_W.ttf") format("truetype"), url("../fonts/PTS76F_W.svg#PTSans-BoldItalic") format("svg");
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url("ptc55f_w.eot");
  src: local("PT Sans Caption"), url("../fonts/PTC55F_W.woff") format("woff"), url("../fonts/PTC55F_W.ttf") format("truetype"), url("../fonts/PTC55F_W.svg#PTSans-Caption") format("svg");
}

@font-face {
  font-family: 'PT Sans Caption';
  font-weight: bold;
  src: url("ptc75f_w.eot");
  src: local("PT Sans Caption Bold"), url("../fonts/PTC75F_W.woff") format("woff"), url("../fonts/TC75F_W.ttf") format("truetype"), url("../fonts/PTC75F_W.svg#PTSans-CaptionBold") format("svg");
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url("ptn57f_w.eot");
  src: local("PT Sans Narrow"), url("../fonts/PTN57F_W.woff") format("woff"), url("../fonts/PTN57F_W.ttf") format("truetype"), url("../fonts/PTN57F_W.svg#PTSans-Narrow") format("svg");
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  src: url("ptn77f_w.eot");
  src: local("PT Sans Narrow Bold"), url("../fonts/PTN77F_W.woff") format("woff"), url("../fonts/PTN77F_W.ttf") format("truetype"), url("../fonts/PTN77F_W.svg#PTSans-NarrowBold") format("svg");
}

/* line 126, ../sass/_base.scss */
html {
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 22px;
}

/* line 136, ../sass/_base.scss */
.col-24 {
  width: 960px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-24 {
  margin-left: 960px;
}

/* line 142, ../sass/_base.scss */
.pull-24 {
  margin-left: -960px;
}

/* line 145, ../sass/_base.scss */
.post-24 {
  margin-right: 960px;
}

/* line 148, ../sass/_base.scss */
.prefix-24 {
  padding-left: 960px;
}

/* line 151, ../sass/_base.scss */
.suffix-24 {
  padding-right: 960px;
}

/* line 136, ../sass/_base.scss */
.col-23 {
  width: 920px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-23 {
  margin-left: 920px;
}

/* line 142, ../sass/_base.scss */
.pull-23 {
  margin-left: -920px;
}

/* line 145, ../sass/_base.scss */
.post-23 {
  margin-right: 920px;
}

/* line 148, ../sass/_base.scss */
.prefix-23 {
  padding-left: 920px;
}

/* line 151, ../sass/_base.scss */
.suffix-23 {
  padding-right: 920px;
}

/* line 136, ../sass/_base.scss */
.col-22 {
  width: 880px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-22 {
  margin-left: 880px;
}

/* line 142, ../sass/_base.scss */
.pull-22 {
  margin-left: -880px;
}

/* line 145, ../sass/_base.scss */
.post-22 {
  margin-right: 880px;
}

/* line 148, ../sass/_base.scss */
.prefix-22 {
  padding-left: 880px;
}

/* line 151, ../sass/_base.scss */
.suffix-22 {
  padding-right: 880px;
}

/* line 136, ../sass/_base.scss */
.col-21 {
  width: 840px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-21 {
  margin-left: 840px;
}

/* line 142, ../sass/_base.scss */
.pull-21 {
  margin-left: -840px;
}

/* line 145, ../sass/_base.scss */
.post-21 {
  margin-right: 840px;
}

/* line 148, ../sass/_base.scss */
.prefix-21 {
  padding-left: 840px;
}

/* line 151, ../sass/_base.scss */
.suffix-21 {
  padding-right: 840px;
}

/* line 136, ../sass/_base.scss */
.col-20 {
  width: 800px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-20 {
  margin-left: 800px;
}

/* line 142, ../sass/_base.scss */
.pull-20 {
  margin-left: -800px;
}

/* line 145, ../sass/_base.scss */
.post-20 {
  margin-right: 800px;
}

/* line 148, ../sass/_base.scss */
.prefix-20 {
  padding-left: 800px;
}

/* line 151, ../sass/_base.scss */
.suffix-20 {
  padding-right: 800px;
}

/* line 136, ../sass/_base.scss */
.col-19 {
  width: 760px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-19 {
  margin-left: 760px;
}

/* line 142, ../sass/_base.scss */
.pull-19 {
  margin-left: -760px;
}

/* line 145, ../sass/_base.scss */
.post-19 {
  margin-right: 760px;
}

/* line 148, ../sass/_base.scss */
.prefix-19 {
  padding-left: 760px;
}

/* line 151, ../sass/_base.scss */
.suffix-19 {
  padding-right: 760px;
}

/* line 136, ../sass/_base.scss */
.col-18 {
  width: 720px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-18 {
  margin-left: 720px;
}

/* line 142, ../sass/_base.scss */
.pull-18 {
  margin-left: -720px;
}

/* line 145, ../sass/_base.scss */
.post-18 {
  margin-right: 720px;
}

/* line 148, ../sass/_base.scss */
.prefix-18 {
  padding-left: 720px;
}

/* line 151, ../sass/_base.scss */
.suffix-18 {
  padding-right: 720px;
}

/* line 136, ../sass/_base.scss */
.col-17 {
  width: 680px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-17 {
  margin-left: 680px;
}

/* line 142, ../sass/_base.scss */
.pull-17 {
  margin-left: -680px;
}

/* line 145, ../sass/_base.scss */
.post-17 {
  margin-right: 680px;
}

/* line 148, ../sass/_base.scss */
.prefix-17 {
  padding-left: 680px;
}

/* line 151, ../sass/_base.scss */
.suffix-17 {
  padding-right: 680px;
}

/* line 136, ../sass/_base.scss */
.col-16 {
  width: 640px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-16 {
  margin-left: 640px;
}

/* line 142, ../sass/_base.scss */
.pull-16 {
  margin-left: -640px;
}

/* line 145, ../sass/_base.scss */
.post-16 {
  margin-right: 640px;
}

/* line 148, ../sass/_base.scss */
.prefix-16 {
  padding-left: 640px;
}

/* line 151, ../sass/_base.scss */
.suffix-16 {
  padding-right: 640px;
}

/* line 136, ../sass/_base.scss */
.col-15 {
  width: 600px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-15 {
  margin-left: 600px;
}

/* line 142, ../sass/_base.scss */
.pull-15 {
  margin-left: -600px;
}

/* line 145, ../sass/_base.scss */
.post-15 {
  margin-right: 600px;
}

/* line 148, ../sass/_base.scss */
.prefix-15 {
  padding-left: 600px;
}

/* line 151, ../sass/_base.scss */
.suffix-15 {
  padding-right: 600px;
}

/* line 136, ../sass/_base.scss */
.col-14 {
  width: 560px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-14 {
  margin-left: 560px;
}

/* line 142, ../sass/_base.scss */
.pull-14 {
  margin-left: -560px;
}

/* line 145, ../sass/_base.scss */
.post-14 {
  margin-right: 560px;
}

/* line 148, ../sass/_base.scss */
.prefix-14 {
  padding-left: 560px;
}

/* line 151, ../sass/_base.scss */
.suffix-14 {
  padding-right: 560px;
}

/* line 136, ../sass/_base.scss */
.col-13 {
  width: 520px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-13 {
  margin-left: 520px;
}

/* line 142, ../sass/_base.scss */
.pull-13 {
  margin-left: -520px;
}

/* line 145, ../sass/_base.scss */
.post-13 {
  margin-right: 520px;
}

/* line 148, ../sass/_base.scss */
.prefix-13 {
  padding-left: 520px;
}

/* line 151, ../sass/_base.scss */
.suffix-13 {
  padding-right: 520px;
}

/* line 136, ../sass/_base.scss */
.col-12 {
  width: 480px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-12 {
  margin-left: 480px;
}

/* line 142, ../sass/_base.scss */
.pull-12 {
  margin-left: -480px;
}

/* line 145, ../sass/_base.scss */
.post-12 {
  margin-right: 480px;
}

/* line 148, ../sass/_base.scss */
.prefix-12 {
  padding-left: 480px;
}

/* line 151, ../sass/_base.scss */
.suffix-12 {
  padding-right: 480px;
}

/* line 136, ../sass/_base.scss */
.col-11 {
  width: 440px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-11 {
  margin-left: 440px;
}

/* line 142, ../sass/_base.scss */
.pull-11 {
  margin-left: -440px;
}

/* line 145, ../sass/_base.scss */
.post-11 {
  margin-right: 440px;
}

/* line 148, ../sass/_base.scss */
.prefix-11 {
  padding-left: 440px;
}

/* line 151, ../sass/_base.scss */
.suffix-11 {
  padding-right: 440px;
}

/* line 136, ../sass/_base.scss */
.col-10 {
  width: 400px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-10 {
  margin-left: 400px;
}

/* line 142, ../sass/_base.scss */
.pull-10 {
  margin-left: -400px;
}

/* line 145, ../sass/_base.scss */
.post-10 {
  margin-right: 400px;
}

/* line 148, ../sass/_base.scss */
.prefix-10 {
  padding-left: 400px;
}

/* line 151, ../sass/_base.scss */
.suffix-10 {
  padding-right: 400px;
}

/* line 136, ../sass/_base.scss */
.col-9 {
  width: 360px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-9 {
  margin-left: 360px;
}

/* line 142, ../sass/_base.scss */
.pull-9 {
  margin-left: -360px;
}

/* line 145, ../sass/_base.scss */
.post-9 {
  margin-right: 360px;
}

/* line 148, ../sass/_base.scss */
.prefix-9 {
  padding-left: 360px;
}

/* line 151, ../sass/_base.scss */
.suffix-9 {
  padding-right: 360px;
}

/* line 136, ../sass/_base.scss */
.col-8 {
  width: 320px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-8 {
  margin-left: 320px;
}

/* line 142, ../sass/_base.scss */
.pull-8 {
  margin-left: -320px;
}

/* line 145, ../sass/_base.scss */
.post-8 {
  margin-right: 320px;
}

/* line 148, ../sass/_base.scss */
.prefix-8 {
  padding-left: 320px;
}

/* line 151, ../sass/_base.scss */
.suffix-8 {
  padding-right: 320px;
}

/* line 136, ../sass/_base.scss */
.col-7 {
  width: 280px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-7 {
  margin-left: 280px;
}

/* line 142, ../sass/_base.scss */
.pull-7 {
  margin-left: -280px;
}

/* line 145, ../sass/_base.scss */
.post-7 {
  margin-right: 280px;
}

/* line 148, ../sass/_base.scss */
.prefix-7 {
  padding-left: 280px;
}

/* line 151, ../sass/_base.scss */
.suffix-7 {
  padding-right: 280px;
}

/* line 136, ../sass/_base.scss */
.col-6 {
  width: 240px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-6 {
  margin-left: 240px;
}

/* line 142, ../sass/_base.scss */
.pull-6 {
  margin-left: -240px;
}

/* line 145, ../sass/_base.scss */
.post-6 {
  margin-right: 240px;
}

/* line 148, ../sass/_base.scss */
.prefix-6 {
  padding-left: 240px;
}

/* line 151, ../sass/_base.scss */
.suffix-6 {
  padding-right: 240px;
}

/* line 136, ../sass/_base.scss */
.col-5 {
  width: 200px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-5 {
  margin-left: 200px;
}

/* line 142, ../sass/_base.scss */
.pull-5 {
  margin-left: -200px;
}

/* line 145, ../sass/_base.scss */
.post-5 {
  margin-right: 200px;
}

/* line 148, ../sass/_base.scss */
.prefix-5 {
  padding-left: 200px;
}

/* line 151, ../sass/_base.scss */
.suffix-5 {
  padding-right: 200px;
}

/* line 136, ../sass/_base.scss */
.col-4 {
  width: 160px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-4 {
  margin-left: 160px;
}

/* line 142, ../sass/_base.scss */
.pull-4 {
  margin-left: -160px;
}

/* line 145, ../sass/_base.scss */
.post-4 {
  margin-right: 160px;
}

/* line 148, ../sass/_base.scss */
.prefix-4 {
  padding-left: 160px;
}

/* line 151, ../sass/_base.scss */
.suffix-4 {
  padding-right: 160px;
}

/* line 136, ../sass/_base.scss */
.col-3 {
  width: 120px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-3 {
  margin-left: 120px;
}

/* line 142, ../sass/_base.scss */
.pull-3 {
  margin-left: -120px;
}

/* line 145, ../sass/_base.scss */
.post-3 {
  margin-right: 120px;
}

/* line 148, ../sass/_base.scss */
.prefix-3 {
  padding-left: 120px;
}

/* line 151, ../sass/_base.scss */
.suffix-3 {
  padding-right: 120px;
}

/* line 136, ../sass/_base.scss */
.col-2 {
  width: 80px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-2 {
  margin-left: 80px;
}

/* line 142, ../sass/_base.scss */
.pull-2 {
  margin-left: -80px;
}

/* line 145, ../sass/_base.scss */
.post-2 {
  margin-right: 80px;
}

/* line 148, ../sass/_base.scss */
.prefix-2 {
  padding-left: 80px;
}

/* line 151, ../sass/_base.scss */
.suffix-2 {
  padding-right: 80px;
}

/* line 136, ../sass/_base.scss */
.col-1 {
  width: 40px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 139, ../sass/_base.scss */
.push-1 {
  margin-left: 40px;
}

/* line 142, ../sass/_base.scss */
.pull-1 {
  margin-left: -40px;
}

/* line 145, ../sass/_base.scss */
.post-1 {
  margin-right: 40px;
}

/* line 148, ../sass/_base.scss */
.prefix-1 {
  padding-left: 40px;
}

/* line 151, ../sass/_base.scss */
.suffix-1 {
  padding-right: 40px;
}

/* line 159, ../sass/_base.scss */
.page {
  *zoom: 1;
  width: 960px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 163, ../sass/_base.scss */
.clear {
  clear: both;
}

/* line 167, ../sass/_base.scss */
.omega {
  float: right;
  margin-right: 0;
  *margin-left: 0px;
  display: inline;
}

/* line 172, ../sass/_base.scss */
ul.inline > li {
  display: inline-block;
}
/* line 175, ../sass/_base.scss */
ul.inline > li + li {
  margin-left: 19px;
}

/* line 184, ../sass/_base.scss */
.i-container .col,
.i-container [class^="col-"],
.i-container [class*=" col-"] {
  display: inline-block;
  margin-right: -4px;
  float: none !important;
  vertical-align: top;
}

/* line 194, ../sass/_base.scss */
.box:before, .box:after {
  display: table;
  line-height: 0;
  content: "";
}
/* line 200, ../sass/_base.scss */
.box:after {
  clear: both;
}

/* line 205, ../sass/_base.scss */
.re {
  position: relative;
}

/* line 209, ../sass/_base.scss */
.ab {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 216, ../sass/_base.scss */
.action-link,
.action-link:hover {
  border-style: dotted;
}

/* line 220, ../sass/_base.scss */
.is-hidden {
  display: none;
}

/* line 224, ../sass/_base.scss */
.is-invisible {
  visibility: none;
}

/* line 228, ../sass/_base.scss */
a {
  color: #0a7aa6;
  text-decoration: none;
  border-bottom: 1px solid #b4e7fb;
}
/* line 231, ../sass/_base.scss */
a:hover {
  color: #ff8900;
  text-decoration: none;
  border-bottom: 1px solid #ffbe73;
}

/* line 237, ../sass/_base.scss */
.nav li.is-active > a, .v-nav li.is-active > a, .h-nav li.is-active > a {
  color: black;
  border-bottom: none;
  cursor: default;
}

/* line 249, ../sass/_base.scss */
.h-nav li {
  display: inline-block;
}

/* line 256, ../sass/_base.scss */
ul.v-centerred {
  display: table;
  table-layout: fixed;
}
/* line 260, ../sass/_base.scss */
ul.v-centerred > li {
  display: table-cell;
  vertical-align: middle;
}

/* line 266, ../sass/_base.scss */
div.v-centerred {
  display: table;
  table-layout: fixed;
}
/* line 270, ../sass/_base.scss */
div.v-centerred > div {
  display: table-cell;
  vertical-align: middle;
}

/* line 276, ../sass/_base.scss */
.img-rounded, .text-page img, .index-previews .index-preview-big img,
.index-previews .index-preview-medium img,
.index-previews .index-preview-small img, .previews .preview-item img, .soc-list .soc-item img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 281, ../sass/_base.scss */
.img-link,
.img-link:hover {
  display: inline-block;
  border-bottom: none;
}

/* line 286, ../sass/_base.scss */
.hr {
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
}

/* line 291, ../sass/_base.scss */
.btn, .btn-base,
.btn-base:hover, .btn-orange,
.btn-orange:hover {
  display: inline-block;
  padding: 6px 12px 8px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-family: "PT Sans";
  line-height: 16px;
  border: 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-box-shadow: #b8b0a7 0px 5px 5px -2px;
  -moz-box-shadow: #b8b0a7 0px 5px 5px -2px;
  box-shadow: #b8b0a7 0px 5px 5px -2px;
  text-shadow: #b8b0a7 1px 1px 0;
}
/* line 306, ../sass/_base.scss */
.btn.disabled, .disabled.btn-base, .disabled.btn-orange {
  opacity: 0.5;
  cursor: default;
}

/* line 313, ../sass/_base.scss */
.btn-base,
.btn-base:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(top, #ffffff, #dddddd);
  color: #000000;
  border-color: #dddddd;
}

/* line 321, ../sass/_base.scss */
.btn-orange,
.btn-orange:hover {
  color: #ffffff;
  border-color: #c9720d;
  -webkit-box-shadow: #b8b0a7 0px 5px 5px -2px, #edb87f 0px 1px 0px 0px inset, #7d4100 0px -1px 0px 0px inset, #c9720d -1px 0px 0px 0px inset;
  -moz-box-shadow: #b8b0a7 0px 5px 5px -2px, #edb87f 0px 1px 0px 0px inset, #7d4100 0px -1px 0px 0px inset, #c9720d -1px 0px 0px 0px inset;
  box-shadow: #b8b0a7 0px 5px 5px -2px, #edb87f 0px 1px 0px 0px inset, #7d4100 0px -1px 0px 0px inset, #c9720d -1px 0px 0px 0px inset;
  text-shadow: #853a02 1px 1px 0;
}

/* line 329, ../sass/_base.scss */
.btn-orange {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8900), color-stop(100%, #db7100));
  background-image: -webkit-linear-gradient(top, #ff8900, #db7100);
  background-image: -moz-linear-gradient(top, #ff8900, #db7100);
  background-image: -o-linear-gradient(top, #ff8900, #db7100);
  background-image: linear-gradient(top, #ff8900, #db7100);
}

/* line 333, ../sass/_base.scss */
.btn-orange:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #db7100), color-stop(100%, #ff8900));
  background-image: -webkit-linear-gradient(top, #db7100, #ff8900);
  background-image: -moz-linear-gradient(top, #db7100, #ff8900);
  background-image: -o-linear-gradient(top, #db7100, #ff8900);
  background-image: linear-gradient(top, #db7100, #ff8900);
}

/* line 337, ../sass/_base.scss */
.cell-line {
  display: table;
}
/* line 340, ../sass/_base.scss */
.cell-line > * {
  display: table-cell;
  float: none !important;
  vertical-align: middle;
}

/* line 347, ../sass/_base.scss */
.left-text {
  text-align: left;
}

/* line 351, ../sass/_base.scss */
.center-text {
  text-align: center;
}

/* line 355, ../sass/_base.scss */
.right-text {
  text-align: right;
}

/* line 58, ../sass/_base.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 62, ../sass/_base.scss */
body {
  margin-bottom: 77px;
  /* bottom = footer height */
}

/* line 65, ../sass/_base.scss */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 77px;
}

/* line 19, ../sass/_style.scss */
.main {
  padding-bottom: 54px;
}

/* line 26, ../sass/_style.scss */
body {
  background: url('../img/bg-gradient.png?1376565622') top center no-repeat;
}

/* line 30, ../sass/_style.scss */
.person-img {
  margin-bottom: 18px;
}

/* line 34, ../sass/_style.scss */
.pagination {
  margin-top: 36px;
  margin-left: 42px;
}
/* line 38, ../sass/_style.scss */
.pagination li + li {
  margin-left: 10px;
}
/* line 42, ../sass/_style.scss */
.pagination li.is-active {
  padding: 7px 9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #ffbe73;
}
/* line 43, ../sass/_style.scss */
.pagination li.is-active a {
  color: #ffffff;
}

/* line 54, ../sass/_style.scss */
table td {
  padding: 12px;
}

/* line 62, ../sass/_style.scss */
strong, b {
  font-weight: bold !important;
}

/* line 66, ../sass/_style.scss */
em {
  font-style: italic;
}

/* line 70, ../sass/_style.scss */
p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 8px;
}
/* line 75, ../sass/_style.scss */
p.right-pad {
  padding-right: 40px;
}

/* line 80, ../sass/_style.scss */
.base-text {
  font-size: 15px;
  line-height: 22px;
}

/* line 85, ../sass/_style.scss */
.small-text {
  font-size: 12px;
  line-height: 14px;
}

/* line 91, ../sass/_style.scss */
.medium-text,
.medium-text p {
  font-size: 14px !important;
  line-height: 18px !important;
}

/* line 96, ../sass/_style.scss */
.muted-text {
  color: gray;
}

/* line 100, ../sass/_style.scss */
a.multiline {
  line-height: 22px;
}

/* line 104, ../sass/_style.scss */
h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin-bottom: 12px;
}
/* line 108, ../sass/_style.scss */
* + h1, * + h2, * + h3, * + h4, * + h5 {
  margin-top: 15px;
}
/* line 112, ../sass/_style.scss */
p + h1, p + h2, p + h3, p + h4, p + h5 {
  margin-top: 30px;
}
/* line 116, ../sass/_style.scss */
h1.extra-bottom-margin, h2.extra-bottom-margin, h3.extra-bottom-margin, h4.extra-bottom-margin, h5.extra-bottom-margin {
  margin-bottom: 30px;
}
/* line 120, ../sass/_style.scss */
h1.extra-top-margin, h2.extra-top-margin, h3.extra-top-margin, h4.extra-top-margin, h5.extra-top-margin {
  margin-top: 30px;
}

/* line 125, ../sass/_style.scss */
h1 {
  font-size: 30px;
  line-height: 30px;
}

/* line 130, ../sass/_style.scss */
h2 {
  font-size: 24px;
  line-height: 24px;
}

/* line 135, ../sass/_style.scss */
.h3 {
  font-size: 22px;
  line-height: 36px;
  font-weight: bold;
}

/* line 141, ../sass/_style.scss */
h3 {
  font-size: 22px;
  line-height: 22px;
}

/* line 146, ../sass/_style.scss */
h4 {
  font-size: 18px;
  line-height: 18px;
}

/* line 151, ../sass/_style.scss */
h5 {
  font-size: 16px;
  line-height: 16px;
}

/* line 157, ../sass/_style.scss */
.text-page ul {
  margin-left: 24px;
  list-style-image: url('../img/ul-mark.png?1376565622');
  line-height: 22px;
}
/* line 162, ../sass/_style.scss */
.text-page ul li {
  margin-bottom: 12px;
}

/* line 172, ../sass/_style.scss */
div.special-light {
  margin-left: -12px;
  padding-left: 12px;
  margin-right: -12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #ffebd5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 180, ../sass/_style.scss */
div.special-dark {
  box-sizing: border-box;
  padding: 6px 18px;
  background: #7b2e00;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
}

/* line 188, ../sass/_style.scss */
div.callout {
  box-sizing: border-box;
  padding-left: 20px;
  border-left: 2px solid #7f7f7f;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* line 199, ../sass/_style.scss */
.main-nav {
  font-weight: bold;
  font-size: 16px;
}
/* line 204, ../sass/_style.scss */
.main-nav li + li {
  margin-left: 15px;
}
/* line 207, ../sass/_style.scss */
.main-nav li + li:before {
  content: '/';
  display: inline-block;
  color: #f1c5bd;
  margin-right: 15px;
}

/* line 217, ../sass/_style.scss */
.side-nav {
  font-weight: bold;
}
/* line 220, ../sass/_style.scss */
.side-nav > li {
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 15px;
}
/* line 225, ../sass/_style.scss */
.side-nav > li + li {
  padding-top: 15px;
}
/* line 229, ../sass/_style.scss */
.side-nav > li.is-expanded {
  background: rgba(233, 199, 164, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin-right: -15px;
  padding-right: 15px;
  margin-left: -15px;
  padding-left: 15px;
  padding-bottom: 20px;
}
/* line 235, ../sass/_style.scss */
.side-nav > li.is-expanded:first-child {
  margin-top: -15px;
  padding-top: 15px;
}
/* line 240, ../sass/_style.scss */
.side-nav > li.hr-top {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 4px;
}
/* line 245, ../sass/_style.scss */
.side-nav > li.is-expanded + li.hr-top {
  margin-top: 19px;
}
/* line 249, ../sass/_style.scss */
.side-nav > li.is-expanded > ul {
  display: block;
}
/* line 253, ../sass/_style.scss */
.side-nav > li > ul {
  margin-left: 13px;
  display: none;
}
/* line 257, ../sass/_style.scss */
.side-nav > li > ul > li {
  margin-top: 18px;
  font-size: 14px;
  width: 90%;
}
/* line 265, ../sass/_style.scss */
.side-nav > li > ul > li.is-active a {
  cursor: pointer;
}

/* line 274, ../sass/_style.scss */
.center-nav {
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
  margin-left: 22px;
  margin-bottom: 20px;
}
/* line 281, ../sass/_style.scss */
.center-nav li {
  margin-right: 25px;
}
/* line 284, ../sass/_style.scss */
.center-nav li.is-active {
  position: relative;
  background: url('../img/main-nav-bg.png?1374246717');
  padding-left: 22px;
  margin-left: -22px;
}
/* line 290, ../sass/_style.scss */
.center-nav li.is-active:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -22px;
  height: 50px;
  width: 22px;
  background: url('../img/main-nav-bg.png?1374246717');
  background-position: 22px;
}
/* line 303, ../sass/_style.scss */
.center-nav li:last-child {
  margin-right: 0px;
}

/* line 310, ../sass/_style.scss */
.subservice-menu li {
  margin-left: 0px !important;
  margin-right: 10px;
  margin-bottom: 12px;
}

/* line 317, ../sass/_style.scss */
.calendar-nav {
  font-size: 20px;
  font-weight: bold;
}
/* line 322, ../sass/_style.scss */
.calendar-nav li + li {
  margin-top: 25px;
}
/* line 326, ../sass/_style.scss */
.calendar-nav li.is-active {
  position: relative;
  margin-left: -19px;
  padding-left: 19px;
}
/* line 330, ../sass/_style.scss */
.calendar-nav li.is-active:after, .calendar-nav li.is-active:before {
  content: '';
  display: block;
  position: absolute;
  top: -15px;
}
/* line 337, ../sass/_style.scss */
.calendar-nav li.is-active:before {
  left: 0px;
  height: 50px;
  width: 100px;
  background: url('../img/main-nav-bg.png?1374246717');
}
/* line 344, ../sass/_style.scss */
.calendar-nav li.is-active:after {
  right: 57px;
  height: 50px;
  width: 22px;
  background: url('../img/main-nav-bg.png?1374246717');
  background-position: 22px;
}

/* line 357, ../sass/_style.scss */
.highlighted {
  background: #ffebd5;
  margin-top: -12px;
  padding-top: 12px;
  margin-right: -12px;
  padding-right: 12px;
  margin-bottom: -12px;
  padding-bottom: 12px;
  margin-left: -12px;
  padding-left: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 362, ../sass/_style.scss */
.icon-phone {
  display: block;
  background: url('../img/icon-phone.png?1374610903');
  height: 26px;
  width: 26px;
}
/* line 368, ../sass/_style.scss */
.phone .icon-phone {
  position: absolute;
  top: -6px;
  left: -30px;
}

/* line 375, ../sass/_style.scss */
.icon-mark {
  display: block;
  background: url('../img/icon-mark.png?1374610851');
  height: 26px;
  width: 26px;
}
/* line 381, ../sass/_style.scss */
.address .icon-mark {
  position: absolute;
  top: -6px;
  left: -30px;
}

/* line 388, ../sass/_style.scss */
.special-box {
  position: relative;
  margin-top: 36px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 35px;
}
/* line 395, ../sass/_style.scss */
.review-author + .special-box {
  margin-top: 54px;
}
/* line 400, ../sass/_style.scss */
.special-box:before, .special-box:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 24px;
}
/* line 409, ../sass/_style.scss */
.special-box:before {
  background: url('../img/box-bg-left.png?1374220857');
  background-size: 100% 100%;
  left: -24px;
}
/* line 415, ../sass/_style.scss */
.special-box:after {
  background: url('../img/box-bg-right.png?1374220946');
  background-size: 100% 100%;
  right: -24px;
}
/* line 421, ../sass/_style.scss */
.special-box .top {
  position: absolute;
  height: 21px;
  width: 100%;
  top: -21px;
  left: 0px;
  background: url('../img/box-bg-top.png?1374221037');
}
/* line 430, ../sass/_style.scss */
.special-box .top:before, .special-box .top:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 21px;
  width: 24px;
}
/* line 439, ../sass/_style.scss */
.special-box .top:before {
  background: url('../img/box-bg-top-left.png?1374219950');
  left: -24px;
}
/* line 444, ../sass/_style.scss */
.special-box .top:after {
  background: url('../img/box-bg-top-right.png?1374220125');
  right: -24px;
}
/* line 450, ../sass/_style.scss */
.special-box .bottom {
  position: absolute;
  height: 21px;
  width: 100%;
  bottom: -21px;
  left: 0px;
  background: url('../img/box-bg-bottom.png?1374221090');
}
/* line 459, ../sass/_style.scss */
.special-box .bottom:before, .special-box .bottom:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 19px;
  width: 24px;
}
/* line 468, ../sass/_style.scss */
.special-box .bottom:before {
  background: url('../img/box-bg-bottom-left.png?1374223844');
  left: -24px;
}
/* line 473, ../sass/_style.scss */
.special-box .bottom:after {
  background: url('../img/box-bg-bottom-right.png?1374223805');
  right: -24px;
}
/* line 480, ../sass/_style.scss */
.special-box.with-triangle .bottom {
  background: url('../img/box-bg-bottom-with-triangle.png?1375092142');
  height: 28px;
  bottom: -28px;
}

/* line 488, ../sass/_style.scss */
.special-menu, .side-nav > li > ul > li.is-active {
  position: relative;
}
/* line 492, ../sass/_style.scss */
.special-menu:before, .side-nav > li > ul > li.is-active:before, .special-menu:after, .side-nav > li > ul > li.is-active:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 13px;
}
/* line 501, ../sass/_style.scss */
.special-menu:before, .side-nav > li > ul > li.is-active:before {
  background: url('../img/s-menu-bg-left.png?1376596960');
  background-size: 100% 100%;
  left: -13px;
}
/* line 507, ../sass/_style.scss */
.special-menu:after, .side-nav > li > ul > li.is-active:after {
  background: url('../img/s-menu-bg-right.png?1376596998');
  background-size: 100% 100%;
  right: -13px;
}
/* line 513, ../sass/_style.scss */
.special-menu .top, .side-nav > li > ul > li.is-active .top {
  position: absolute;
  height: 11px;
  width: 100%;
  top: -11px;
  left: 0px;
  background: url('../img/s-menu-bg-top.png?1376594167');
}
/* line 522, ../sass/_style.scss */
.special-menu .top:before, .side-nav > li > ul > li.is-active .top:before, .special-menu .top:after, .side-nav > li > ul > li.is-active .top:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 11px;
  width: 13px;
}
/* line 531, ../sass/_style.scss */
.special-menu .top:before, .side-nav > li > ul > li.is-active .top:before {
  background: url('../img/s-menu-bg-top-left.png?1376593282');
  left: -13px;
}
/* line 536, ../sass/_style.scss */
.special-menu .top:after, .side-nav > li > ul > li.is-active .top:after {
  background: url('../img/s-menu-bg-top-right.png?1376594060');
  right: -13px;
}
/* line 542, ../sass/_style.scss */
.special-menu .bottom, .side-nav > li > ul > li.is-active .bottom {
  position: absolute;
  height: 11px;
  width: 100%;
  bottom: -11px;
  left: 0px;
  background: url('../img/s-menu-bg-bottom.png?1376596353');
}
/* line 551, ../sass/_style.scss */
.special-menu .bottom:before, .side-nav > li > ul > li.is-active .bottom:before, .special-menu .bottom:after, .side-nav > li > ul > li.is-active .bottom:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 11px;
  width: 13px;
}
/* line 560, ../sass/_style.scss */
.special-menu .bottom:before, .side-nav > li > ul > li.is-active .bottom:before {
  background: url('../img/s-menu-bg-bottom-left.png?1376595553');
  left: -13px;
}
/* line 565, ../sass/_style.scss */
.special-menu .bottom:after, .side-nav > li > ul > li.is-active .bottom:after {
  background: url('../img/s-menu-bg-bottom-right.png?1376594231');
  right: -13px;
}

/* line 572, ../sass/_style.scss */
.index-previews {
  margin-bottom: 36px;
  height: 306px;
}
/* line 578, ../sass/_style.scss */
.index-previews .index-preview-big,
.index-previews .index-preview-medium,
.index-previews .index-preview-small {
  float: left;
  margin-bottom: 18px;
}
/* line 582, ../sass/_style.scss */
.index-previews .index-preview-big li,
.index-previews .index-preview-medium li,
.index-previews .index-preview-small li {
  position: relative;
}
/* line 585, ../sass/_style.scss */
.index-previews .index-preview-big li .text,
.index-previews .index-preview-medium li .text,
.index-previews .index-preview-small li .text {
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.2);
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 600, ../sass/_style.scss */
.index-previews .index-preview-big img,
.index-previews .index-preview-medium img,
.index-previews .index-preview-small img {
  margin-bottom: -4px;
}
/* line 606, ../sass/_style.scss */
.index-previews .index-preview-big {
  width: 260px;
}
/* line 610, ../sass/_style.scss */
.index-previews .index-preview-medium {
  width: 300px;
  margin-left: 20px;
}
/* line 615, ../sass/_style.scss */
.index-previews .index-preview-small {
  width: 160px;
  margin-left: 20px;
}

/* line 621, ../sass/_style.scss */
.index-slider {
  display: none;
}

/* line 625, ../sass/_style.scss */
.previews {
  margin-top: 30px;
}
/* line 628, ../sass/_style.scss */
.previews .preview-item {
  width: 160px;
  float: left;
  margin-right: 0px;
  display: inline;
  margin-right: 40px;
  margin-bottom: 18px;
}
/* line 633, ../sass/_style.scss */
.previews .preview-item .img-box {
  width: 160px;
  height: 92px;
  position: relative;
}
/* line 638, ../sass/_style.scss */
.previews .preview-item .img-box.img-with-blik:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url('../img/blik.png?1375255217');
  background-size: cover;
}
/* line 650, ../sass/_style.scss */
.previews .preview-item img {
  -webkit-box-shadow: #b8b0a7 0px 5px 5px -2px;
  -moz-box-shadow: #b8b0a7 0px 5px 5px -2px;
  box-shadow: #b8b0a7 0px 5px 5px -2px;
}
/* line 655, ../sass/_style.scss */
.previews .preview-item:nth-child(3n) {
  margin-right: 0 !important;
}

/* line 661, ../sass/_style.scss */
.with-shadow {
  -webkit-box-shadow: #b8b0a7 0px 5px 5px -2px;
  -moz-box-shadow: #b8b0a7 0px 5px 5px -2px;
  box-shadow: #b8b0a7 0px 5px 5px -2px;
}

/* line 666, ../sass/_style.scss */
.contaxts-page .contacts {
  margin-top: 18px;
  margin-left: 40px;
}
/* line 670, ../sass/_style.scss */
.contaxts-page .contacts .phone {
  margin-top: 20px;
  position: relative;
  font-size: 22px;
  font-weight: bold;
}
/* line 676, ../sass/_style.scss */
.contaxts-page .contacts .phone .icon-phone {
  top: -2px;
}
/* line 681, ../sass/_style.scss */
.contaxts-page .contacts .address {
  position: relative;
}

/* line 688, ../sass/_style.scss */
.reviews .reviews-side {
  padding-top: 24px;
}
/* line 691, ../sass/_style.scss */
.reviews .reviews-side .btn-orange {
  margin-top: 12px;
}

/* line 697, ../sass/_style.scss */
.review-author {
  margin-left: 30px;
}

/* line 702, ../sass/_style.scss */
.service .highlighted {
  margin-top: 36px;
}
/* line 705, ../sass/_style.scss */
.service .highlighted .btn-orange {
  margin-top: 12px;
}
/* line 710, ../sass/_style.scss */
.service .service-price {
  margin-top: 24px;
  font-size: 18px;
  font-weight: bold;
}

/* line 717, ../sass/_style.scss */
.service-side-text {
  margin-bottom: 36px;
}

/* line 721, ../sass/_style.scss */
.reviews-box {
  margin-top: 54px;
}
/* line 724, ../sass/_style.scss */
.reviews-box .special-box {
  margin-left: 0px;
  margin-right: 0px;
}
/* line 729, ../sass/_style.scss */
.reviews-box .person-img {
  margin-top: 36px;
  margin-bottom: 0px;
}
/* line 734, ../sass/_style.scss */
.reviews-box .review-author {
  margin-left: 0px;
}

/* line 740, ../sass/_style.scss */
.soc-list .soc-item {
  margin-right: 40px;
  margin-bottom: 36px;
}
/* line 744, ../sass/_style.scss */
.soc-list .soc-item a {
  font-weight: bold;
}
/* line 748, ../sass/_style.scss */
.soc-list .soc-item:nth-child(2n+n) {
  margin-right: 0px;
}
/* line 752, ../sass/_style.scss */
.soc-list .soc-item img {
  margin-bottom: 18px;
}

/* line 759, ../sass/_style.scss */
.spec-item {
  margin-top: 18px;
  position: relative;
}
/* line 763, ../sass/_style.scss */
.spec-item + .spec-item {
  margin-top: 36px;
}
/* line 767, ../sass/_style.scss */
.spec-item .spec-desc {
  padding-top: 54px;
}
/* line 770, ../sass/_style.scss */
.spec-item .spec-desc .person-title {
  margin-bottom: 8px;
}
/* line 775, ../sass/_style.scss */
.spec-item .spec-full {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  background: white;
  margin-top: -18px;
  padding-top: 18px;
  margin-right: -18px;
  padding-right: 18px;
  margin-bottom: -18px;
  padding-bottom: 18px;
  margin-left: -18px;
  padding-left: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 785, ../sass/_style.scss */
.spec-item .spec-full .modal-close {
  background: url('../img/modal-close-spec.png?1375255217');
  width: 36px;
  height: 36px;
  position: absolute;
  top: 9px;
  right: 9px;
  cursor: pointer;
}
/* line 795, ../sass/_style.scss */
.spec-item .spec-full .controls {
  margin-top: 18px;
  margin-bottom: 18px;
}

/* line 802, ../sass/_style.scss */
.map {
  width: 560px;
  height: 394px;
}

/* line 810, ../sass/_style.scss */
.form {
  padding-bottom: 18px;
  font-size: 16px;
  line-height: 18px;
}
/* line 815, ../sass/_style.scss */
.form .required {
  font-weight: bold;
}
/* line 819, ../sass/_style.scss */
.form .top-text {
  padding-bottom: 6px;
}
/* line 823, ../sass/_style.scss */
.form .bottom-text {
  padding-top: 6px;
}
/* line 827, ../sass/_style.scss */
.form .hint {
  font-size: 14px;
}
/* line 834, ../sass/_style.scss */
.form fieldset.inline .label-box,
.form fieldset.inline .field-box {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}
/* line 839, ../sass/_style.scss */
.form fieldset.inline .label-box h3,
.form fieldset.inline .field-box h3 {
  margin-bottom: 0px;
}
/* line 844, ../sass/_style.scss */
.form fieldset.inline .label-box {
  width: 125px;
  padding-right: 50px;
}
/* line 849, ../sass/_style.scss */
.form fieldset.inline .field-box + .field-box {
  margin-left: 38px;
}
/* line 856, ../sass/_style.scss */
.form fieldset.top-input-text .label-box,
.form fieldset.top-input-text .field-box {
  vertical-align: top;
}
/* line 860, ../sass/_style.scss */
.form fieldset.top-input-text .label-box {
  padding-top: 22px;
}
/* line 867, ../sass/_style.scss */
.form fieldset.fieldset-with-textarea .label-box,
.form fieldset.fieldset-with-textarea .field-box {
  vertical-align: top;
}
/* line 874, ../sass/_style.scss */
.form .field-box.field-box-medium {
  width: 185px;
}
/* line 880, ../sass/_style.scss */
.form .field-box.is-with-errors input,
.form .field-box.is-with-errors textarea {
  border-color: red;
}
/* line 886, ../sass/_style.scss */
.form * + fieldset {
  margin-top: 26px;
}
/* line 890, ../sass/_style.scss */
.form .controls {
  margin-left: 175px;
}
/* line 894, ../sass/_style.scss */
.form .controls.inline button, .form .controls.inline .inline-hint {
  vertical-align: top;
}
/* line 899, ../sass/_style.scss */
.form .controls .inline-hint {
  margin-left: 20px;
  width: 200px;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
}
/* line 908, ../sass/_style.scss */
.form * + .controls {
  margin-top: 36px;
}
/* line 913, ../sass/_style.scss */
.form input,
.form textarea {
  font-family: "PT Sans";
  font-size: 15px;
}
/* line 918, ../sass/_style.scss */
.form .input {
  line-height: 26px;
  height: 26px;
  border: 1px solid #a8a8a8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 919, ../sass/_style.scss */
.form .input:focus {
  outline: none;
}
/* line 930, ../sass/_style.scss */
.form .input.input-big {
  width: 285px;
}
/* line 934, ../sass/_style.scss */
.form .input.input-medium {
  width: 175px;
}
/* line 938, ../sass/_style.scss */
.form .input.input-phone {
  width: 260px;
}
/* line 943, ../sass/_style.scss */
.form .textarea {
  resize: none;
  line-height: 18px;
  border: 1px solid #a8a8a8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  width: 285px;
  height: 180px;
}
/* line 951, ../sass/_style.scss */
.form .textarea:focus {
  outline: none;
}
/* line 959, ../sass/_style.scss */
.form .phone-lead {
  display: inline-block;
  width: 20px;
  padding-right: 5px;
}

/* line 968, ../sass/_style.scss */
.header {
  margin-bottom: 18px;
}
/* line 971, ../sass/_style.scss */
.header .head-logo-box {
  margin-left: -22px;
}
/* line 975, ../sass/_style.scss */
.header .page {
  height: 90px;
}
/* line 980, ../sass/_style.scss */
.header .phone-box .small-text {
  margin-top: 2px;
  margin-bottom: 3px;
}
/* line 986, ../sass/_style.scss */
.header .phone {
  font-size: 18px;
  line-height: 14px;
  position: relative;
}

/* line 996, ../sass/_style.scss */
.footer .page {
  border-top: 2px solid #d7dcde;
  height: 75px;
}
/* line 1000, ../sass/_style.scss */
.footer .page img {
  vertical-align: middle;
}

/* line 1006, ../sass/_style.scss */
span.icon-octo {
  display: inline-block;
  background: url('../img/octoberweb-logo.png?1374780919');
  width: 21px;
  height: 22px;
  margin-right: 10px;
}

/* line 1017, ../sass/_style.scss */
.modal-close {
  background: url('../img/modal-close.png?1375255217');
  width: 36px;
  height: 36px;
  position: absolute;
  top: -33px;
  right: -33px;
  cursor: pointer;
}

/* line 1027, ../sass/_style.scss */
.modal-box {
  width: 400px;
  min-height: 180px;
  background: white;
  position: relative;
  margin-top: 22px;
  margin-left: 34px;
  margin-right: 34px;
  margin-bottom: 20px;
}
/* line 1039, ../sass/_style.scss */
.modal-box:before, .modal-box:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 34px;
  z-index: -1;
}
/* line 1049, ../sass/_style.scss */
.modal-box:before {
  background: url('../img/modal-bg-left.png?1375102866');
  background-size: 100% 100%;
  left: -34px;
}
/* line 1055, ../sass/_style.scss */
.modal-box:after {
  background: url('../img/modal-bg-right.png?1375102892');
  background-size: 100% 100%;
  right: -34px;
}
/* line 1061, ../sass/_style.scss */
.modal-box .top {
  position: absolute;
  height: 22px;
  width: 100%;
  top: -22px;
  left: 0px;
  background: url('../img/modal-bg-top.png?1375102760');
  z-index: -1;
}
/* line 1071, ../sass/_style.scss */
.modal-box .top:before, .modal-box .top:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 22px;
  width: 34px;
  z-index: -1;
}
/* line 1081, ../sass/_style.scss */
.modal-box .top:before {
  background: url('../img/modal-bg-top-left.png?1375102620');
  left: -34px;
}
/* line 1086, ../sass/_style.scss */
.modal-box .top:after {
  background: url('../img/modal-bg-top-right.png?1375102705');
  right: -34px;
}
/* line 1092, ../sass/_style.scss */
.modal-box .bottom {
  position: absolute;
  height: 20px;
  width: 100%;
  bottom: -20px;
  left: 0px;
  background: url('../img/modal-bg-bottom.png?1375103106');
  z-index: -1;
}
/* line 1102, ../sass/_style.scss */
.modal-box .bottom:before, .modal-box .bottom:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 20px;
  width: 34px;
  z-index: -1;
}
/* line 1112, ../sass/_style.scss */
.modal-box .bottom:before {
  background: url('../img/modal-bg-bottom-left.png?1375102984');
  left: -34px;
}
/* line 1117, ../sass/_style.scss */
.modal-box .bottom:after {
  background: url('../img/modal-bg-bottom-right.png?1375103021');
  right: -34px;
}

/* line 1124, ../sass/_style.scss */
#service-form-modal {
  width: 690px;
}

/* line 1128, ../sass/_style.scss */
#question-form-modal {
  width: 690px;
}

/* line 1132, ../sass/_style.scss */
#review-form-modal {
  width: 690px;
}

/* line 1136, ../sass/_style.scss */
.super-heading {
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: 40px;
  font-size: 16px;
}

/* line 1143, ../sass/_style.scss */
.modal-center-text-box {
  display: table;
}
/* line 1146, ../sass/_style.scss */
.modal-center-text-box .modal-center-text {
  display: table-cell;
  height: 200px;
  width: 350px;
  vertical-align: middle;
  text-align: center;
}

/* line 1158, ../sass/_style.scss */
.backup {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -3;
}
/* line 1166, ../sass/_style.scss */
.backup .grid {
  background: url('../img/grid.png?1374603326') repeat-y;
  height: 100%;
  width: 1024px;
  margin: 0 auto;
}

/* line 1173, ../sass/_style.scss */
.one, .two {
  height: 100px;
  width: 100px;
  background: gray;
}

/* line 1178, ../sass/_style.scss */
.one {
  margin-bottom: 50px;
}

/* line 1181, ../sass/_style.scss */
.two {
  margin-top: 50px;
}

/* line 1184, ../sass/_style.scss */
.modal-in {
  height: 300px;
  width: 400px;
  background: gray;
}
