@import "compass/utilities";
@import "compass/css3";
@import "susy";

// grid settings
$total-columns  : 24;
$column-width   : 40px;
$gutter-width   : 0px;
$grid-padding   : 32px;
$container-style: static;

$x-atom: $column-width;
$y-atom: 18px;
// /grid settings

// other vars 
$base-text-color: #000000;
$base-link-color: #0a7aa6;
$hover-link-color: #ff8900;
$hr-color: rgba(0,0,0, 0.15);
// /other vars


// custom resets 
.fancybox-skin,
.fancybox-wrap,
.fancybox-outer,
.fancybox-inner {
    background: transparent !important;
}

.fancybox-skin {
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
}
// /custom resets


// base mixins
@mixin clear {
    clear: both;
}

@mixin base-link {
    color: $base-link-color;
    text-decoration: none;
    border-bottom: 1px solid lighten($base-link-color, 50%);
}

@mixin hover-link {
    color: $hover-link-color;
    text-decoration: none;
    border-bottom: 1px solid #ffbe73;
}

@mixin footer($footer-height) {
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        margin-bottom: $footer-height; /* bottom = footer height */
    }
    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: $footer-height;
    }
}

@mixin a-pseydo {
    content: '';
    display: block;
    position: absolute;
}
// /base mixins


// base typography
@font-face {font-family: 'PT Sans'; 
    src: url('../fonts/pts55f_w.eot'); 
    src: local('PT Sans'), url('../fonts/PTS55F_W.woff') format('woff'),url('../fonts/PTS55F_W.ttf') format('truetype'), url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');}

@font-face {font-family: 'PT Sans'; 
    font-style: italic;
    src: url('pts56f_w.eot'); 
    src: local('PT Sans Italic'), url('../fonts/PTS56F_W.woff') format('woff'),url('../fonts/PTS56F_W.ttf') format('truetype'), url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');}

@font-face {font-family: 'PT Sans';
    src: url('pts75f_w.eot');
    font-style: normal;
    font-weight: bold; 
    src: local('PT Sans Bold'), url('../fonts/PTS75F_W.woff') format('woff'),url('../fonts/PTS75F_W.ttf') format('truetype'), url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');}

@font-face {font-family: 'PT Sans';
    font-style: italic;
    font-weight: bold; 
    src: url('pts76f_w.eot'); 
    src: local('../fonts/PT Sans Bold Italic'), url('../fonts/PTS76F_W.woff') format('woff'),url('../fonts/PTS76F_W.ttf') format('truetype'), url('../fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');}

@font-face {font-family: 'PT Sans Caption'; 
    src: url('ptc55f_w.eot');
    src: local('PT Sans Caption'), url('../fonts/PTC55F_W.woff') format('woff'),url('../fonts/PTC55F_W.ttf') format('truetype'), url('../fonts/PTC55F_W.svg#PTSans-Caption') format('svg');}

@font-face {font-family: 'PT Sans Caption';
    font-weight: bold; 
    src: url('ptc75f_w.eot');
    src: local('PT Sans Caption Bold'), url('../fonts/PTC75F_W.woff') format('woff'),url('../fonts/TC75F_W.ttf') format('truetype'), url('../fonts/PTC75F_W.svg#PTSans-CaptionBold') format('svg');}

@font-face {font-family: 'PT Sans Narrow';
    src: url('ptn57f_w.eot');
    src: local('PT Sans Narrow'), url('../fonts/PTN57F_W.woff') format('woff'),url('../fonts/PTN57F_W.ttf') format('truetype'), url('../fonts/PTN57F_W.svg#PTSans-Narrow') format('svg');}

@font-face {font-family: 'PT Sans Narrow';
    font-weight: bold; 
    src: url('ptn77f_w.eot');
    src: local('PT Sans Narrow Bold'), url('../fonts/PTN77F_W.woff') format('woff'),url('../fonts/PTN77F_W.ttf') format('truetype'), url('../fonts/PTN77F_W.svg#PTSans-NarrowBold') format('svg');}

$base-font-family: 'PT Sans';
$base-font-size: 15px;
$base-line-height: 22px;

html {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}
// /base typography

// columns and layout helpers
$cols: $total-columns;
@while $cols > 0 {
    .col-#{$cols} {
        @include span-columns($cols);
    }
    .push-#{$cols} {
        @include push($cols);
    }
    .pull-#{$cols} {
        @include pull($cols);
    }
    .post-#{$cols} {
        @include post($cols);
    }
    .prefix-#{$cols} {
        @include prefix($cols);
    }
    .suffix-#{$cols} {
        @include suffix($cols);
    }
    $cols: $cols - 1;
}
// /columns and layout helpers

// base styles
.page {
    @include container;
}

.clear {
    @include clear;
}

.omega {
    @include omega;
}

ul.inline {
    & > li {
        display: inline-block;
        
        & + li {
            margin-left: 19px;
        }
    }
}

.i-container {
    .col,
    [class^="col-"],
    [class*=" col-"] {
        display: inline-block;
        margin-right: -4px;
        float: none !important;
        vertical-align: top;
    }
}

.box {
    &:before,
    &:after {
        display: table;
        line-height: 0;
        content: "";
    }

    &:after {
        @include clear;
    }
}

.re {
    position: relative;
}

.ab {
    position: absolute;
    top: 0;
    left: 0;
}

.action-link,
.action-link:hover {
    border-style: dotted;
}

.is-hidden {
    display: none;
}

.is-invisible {
    visibility: none;
}

a {
    @include base-link;

    &:hover {
        @include hover-link;
    }
}

.nav {
    li.is-active > a {
        color: $base-text-color;
        border-bottom: none;
        cursor: default;
    }
}

.v-nav {
    @extend .nav;
}

.h-nav {
    li {
        display: inline-block;
    }

    @extend .nav;
}

ul.v-centerred {
    display: table;
    table-layout: fixed;

    & > li {
        display: table-cell;
        vertical-align: middle;
    }
}

div.v-centerred {
    display: table;
    table-layout: fixed;

    & > div {
        display: table-cell;
        vertical-align: middle;
    }
}

.img-rounded {
    @include border-radius(5px);
}

.img-link,
.img-link:hover {
    display: inline-block;
    border-bottom: none;
}

.hr {
    height: 1px;
    background: $hr-color;
}

.btn {
    display: inline-block;
    padding: 6px 12px 8px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-family: $base-font-family;
    line-height: 16px;
    border: 1px solid;
    @include border-radius(5px);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    @include box-shadow(#b8b0a7 0px 5px 5px -2px);
    @include text-shadow(#b8b0a7 1px 1px 0);

    &.disabled {
        opacity: 0.5;
        cursor: default;
    }
}

.btn-base,
.btn-base:hover {
    @extend .btn;
    @include background-image(linear-gradient(top, white, #dddddd));
    color: #000000;
    border-color: #dddddd;
}

.btn-orange,
.btn-orange:hover {
    @extend .btn;
    color: #ffffff;
    border-color: #c9720d;
    @include box-shadow(#b8b0a7 0px 5px 5px -2px, #edb87f 0px 1px 0px 0px inset, #7d4100 0px -1px 0px 0px inset, #c9720d -1px 0px 0px 0px inset);
    @include text-shadow(#853a02 1px 1px 0);
}

.btn-orange {
    @include background-image(linear-gradient(top, #ff8900, #db7100));
}

.btn-orange:hover {
    @include background-image(linear-gradient(top, #db7100, #ff8900));
}

.cell-line {
    display: table;

    & > * {
        display: table-cell;
        float: none !important;
        vertical-align: middle;
    }
}

.left-text {
    text-align: left;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}
// /base styles