@import "compass/utilities";
@import "compass/css3";
@import "susy";
@import "base";

// settings
$body-bg-color: #ffffff;
$gray-border-color: #d7dcde;
$nav-slash-color: #f1c5bd;
$muted-text-color: lighten($base-text-color, 50%);
$side-nav-active-bg-color: rgba(233, 199, 164, 0.2);
$input-border-color: #a8a8a8;
$pagination-active-bg-color: #ffbe73;
// /settings

// layout
@include footer(77px);

.main {
    padding-bottom: 54px;
}
// /layout


// base
body {
    background: image-url('bg-gradient.png') top center no-repeat;
}

.person-img {
    margin-bottom: 18px;
}

.pagination {
    margin-top: 36px;
    margin-left: 42px;

    li + li {
        margin-left: 10px;
    }

    li.is-active {
        a {
            color: #ffffff;
        }

        padding: 7px 9px;
        @include border-radius(5px);
        background: $pagination-active-bg-color;
    }
}

table {
    td {
        padding: 12px;
    }
}
// /base


// type
strong, b {
    font-weight: bold !important;
}

em {
    font-style: italic;
}

p {
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin-bottom: 8px;

    &.right-pad {
        padding-right: 40px;
    }
}

.base-text {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

.small-text {
    font-size: 12px;
    line-height: 14px;
}

.medium-text,
.medium-text p {
    font-size: 14px !important;
    line-height: 18px !important;
}

.muted-text {
    color: $muted-text-color; 
}

a.multiline {
    line-height: $base-line-height;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin-bottom: 12px;
    
    * + & {
        margin-top: 15px;
    }

    p + & {
        margin-top: 30px;
    }

    &.extra-bottom-margin {
        margin-bottom: 30px;
    }

    &.extra-top-margin {
        margin-top: 30px;
    }
}

h1 {
    font-size: 30px;
    line-height: 30px;
}

h2 {
    font-size: 24px;
    line-height: 24px;
}

.h3 {
    font-size: 22px;
    line-height: 36px;
    font-weight: bold;
}

h3 {
    font-size: 22px;
    line-height: 22px;
}

h4 {
    font-size: 18px;
    line-height: 18px;
}

h5 {
    font-size: 16px;
    line-height: 16px;
}

.text-page {
    ul {
        margin-left: 24px;
        list-style-image: image-url('ul-mark.png');
        line-height: $base-line-height;

        li {
            margin-bottom: 12px;
        }
    }

    img {
        @extend .img-rounded;
    }
}

div.special-light {
    @include bleed(12px, left right);
    padding-top: 12px;
    padding-bottom: 12px;
    background: #ffebd5;
    @include border-radius(5px);
}

div.special-dark {
    box-sizing: border-box;
    padding: 6px 18px;
    background: #7b2e00;
    @include border-radius(5px);
    color: white;
}

div.callout {
    box-sizing: border-box;
    padding-left: 20px;
    border-left: 2px solid #7f7f7f;
    padding-top: 6px;
    padding-bottom: 6px;
}
// /type


// nav
.main-nav {
    font-weight: bold;
    font-size: 16px;

    li {
        & + li {
            margin-left: 15px;

            &:before {
                content: '/';
                display: inline-block;
                color: $nav-slash-color;
                margin-right: 15px;
            }
        }
    }
}

.side-nav {
    font-weight: bold;

    & > li {
        font-size: 16px;
        line-height: 18px;
        padding-bottom: 15px;

        & + li {
            padding-top: 15px;
        }

        &.is-expanded {
            background: $side-nav-active-bg-color;
            @include border-radius(6px);
            @include bleed(15px, right left);
            padding-bottom: 20px;

            &:first-child {
                @include bleed(15px, top);
            }
        }

        &.hr-top {
            border-top: 1px solid $hr-color;
            margin-top: 4px;
        }

        &.is-expanded + li.hr-top {
            margin-top: 19px;
        }

        &.is-expanded > ul {
            display: block
        }

        & > ul {
            margin-left: 13px;
            display: none;

            & > li {
                margin-top: 18px;
                font-size: 14px;
                width: 90%;

                &.is-active {
                    @extend .special-menu;

                    a {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.center-nav {
    font-weight: bold;
    font-size: 18px;
    line-height: image-height('main-nav-bg.png');
    margin-left: 22px;
    margin-bottom: 20px;

    li {
        margin-right: 25px;

        &.is-active {
            position: relative;
            background: image-url('main-nav-bg.png');
            padding-left: 22px;
            margin-left: -22px;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: -22px;
                height: image-height('main-nav-bg.png');
                width: 22px;
                background: image-url('main-nav-bg.png');
                background-position: 22px;
            }
        }

        &:last-child {
            margin-right: 0px;
        }
    }
}

.subservice-menu {
    li {
        margin-left: 0px !important;
        margin-right: 10px;
        margin-bottom: 12px;
    }
}

.calendar-nav {
    font-size: 20px;
    font-weight: bold;

    li {
        & + li {
            margin-top: 25px;
        }

        &.is-active {
            position: relative;
            @include bleed(19px, left);

            &:after, &:before {
                content: '';
                display: block;
                position: absolute;
                top: -15px;
            }

            &:before {
                left: 0px;
                height: image-height('main-nav-bg.png');
                width: 100px;
                background: image-url('main-nav-bg.png');
            }

            &:after {
                right: 57px;
                height: image-height('main-nav-bg.png');
                width: 22px;
                background: image-url('main-nav-bg.png');
                background-position: 22px;
            }
        }
    }
}
// /nav

// content
.highlighted {
    background: #ffebd5;
    @include bleed(12px, top right bottom left);
    @include border-radius(5px);
}
.icon-phone {
    display: block;
    background: image-url('icon-phone.png');
    height: 26px;
    width: 26px;

    .phone & {
        position: absolute;
        top: -6px;
        left: -30px;
    }
}

.icon-mark {
    display: block;
    background: image-url('icon-mark.png');
    height: 26px;
    width: 26px;

    .address & {
        position: absolute;
        top: -6px;
        left: -30px;
    }
}

.special-box {
    position: relative;
    margin-top: 36px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 35px;

    .review-author + & {
        margin-top: 54px;
    }

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 24px;
    }

    &:before {
        background: image-url('box-bg-left.png');
        background-size: 100% 100%;
        left: -24px;
    }

    &:after {
        background: image-url('box-bg-right.png');
        background-size: 100% 100%;
        right: -24px;
    }

    .top {
        position: absolute;
        height: 21px;
        width: 100%;
        top: -21px;
        left: 0px;
        background: image-url('box-bg-top.png');

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            height: 21px;
            width: 24px;
        }

        &:before {
            background: image-url('box-bg-top-left.png');
            left: -24px;
        }

        &:after {
            background: image-url('box-bg-top-right.png');
            right: -24px;
        }
    }

    .bottom {
        position: absolute;
        height: 21px;
        width: 100%;
        bottom: -21px;
        left: 0px;
        background: image-url('box-bg-bottom.png');

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            height: 19px;
            width: 24px;
        }

        &:before {
            background: image-url('box-bg-bottom-left.png');
            left: -24px;
        }

        &:after {
            background: image-url('box-bg-bottom-right.png');
            right: -24px;
        }
    }

    &.with-triangle {
        .bottom {
            background: image-url('box-bg-bottom-with-triangle.png');
            height: 28px;
            bottom: -28px;
        }
    }
}

.special-menu {
    position: relative;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 13px;
    }

    &:before {
        background: image-url('s-menu-bg-left.png');
        background-size: 100% 100%;
        left: -13px;
    }

    &:after {
        background: image-url('s-menu-bg-right.png');
        background-size: 100% 100%;
        right: -13px;
    }

    .top {
        position: absolute;
        height: 11px;
        width: 100%;
        top: -11px;
        left: 0px;
        background: image-url('s-menu-bg-top.png');

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            height: 11px;
            width: 13px;
        }

        &:before {
            background: image-url('s-menu-bg-top-left.png');
            left: -13px;
        }

        &:after {
            background: image-url('s-menu-bg-top-right.png');
            right: -13px;
        }
    }

    .bottom {
        position: absolute;
        height: 11px;
        width: 100%;
        bottom: -11px;
        left: 0px;
        background: image-url('s-menu-bg-bottom.png');

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            height: 11px;
            width: 13px;
        }

        &:before {
            background: image-url('s-menu-bg-bottom-left.png');
            left: -13px;
        }

        &:after {
            background: image-url('s-menu-bg-bottom-right.png');
            right: -13px;
        }
    }
}

.index-previews {
    margin-bottom: 36px;
    height: 306px;

    .index-preview-big,
    .index-preview-medium,
    .index-preview-small {
        float: left;
        margin-bottom: 18px;

        li {
            position: relative;

            .text {
                position: absolute;
                left: 0px;
                bottom: 0px;
                font-size: 18px;
                line-height: 30px;
                font-weight: bold;
                color: white;
                padding: 10px 15px;
                background: rgba(0,0,0,0.2);
                @include border-corner-radius(top, right, 10px);
                @include border-corner-radius(bottom, left, 5px);
            }
        }

        & img {
            @extend .img-rounded;
            margin-bottom: -4px;
        }
    }

    .index-preview-big {
        width: 260px;
    }

    .index-preview-medium {
        width: 300px;
        margin-left: 20px;
    }

    .index-preview-small {
        width: 160px;
        margin-left: 20px;
    }
}

.index-slider {
    display: none;
}

.previews {
    margin-top: 30px;

    .preview-item {
        @include span-columns(4);
        @include post(1);
        margin-bottom: 18px;

        .img-box {
            width: 160px;
            height: 92px;
            position: relative;

            &.img-with-blik:after {
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background: image-url('blik.png');
                background-size: cover;
            }
        }

        & img {
            @extend .img-rounded;
            @include box-shadow(#b8b0a7 0px 5px 5px -2px);
        }

        &:nth-child(3n) {
            margin-right: 0 !important;
        }
    }
}

.with-shadow {
    @include box-shadow(#b8b0a7 0px 5px 5px -2px);
}

.contaxts-page {
    .contacts {
        margin-top: 18px;
        margin-left: 40px;

        .phone {
            margin-top: 20px;
            position: relative;
            font-size: 22px;
            font-weight: bold;

            .icon-phone {
                top: -2px;
            }
        }

        .address {
            position: relative;
        }
    }
}

.reviews {
    .reviews-side {
        padding-top: 24px;

        .btn-orange {
            margin-top: 12px;
        }
    }
}

.review-author {
    margin-left: 30px;
}

.service {
    .highlighted {
        margin-top: 36px;

        .btn-orange {
            margin-top: 12px;
        }
    }

    .service-price {
        margin-top: 24px;
        font-size: 18px;
        font-weight: bold;
    }
}

.service-side-text {
    margin-bottom: 36px;
}

.reviews-box {
    margin-top: 54px;

    .special-box {
        margin-left: 0px;
        margin-right: 0px;
    }

    .person-img {
        margin-top: 36px;
        margin-bottom: 0px;
    }

    .review-author {
        margin-left: 0px;
    }
}

.soc-list {
    .soc-item {
        margin-right: 40px;
        margin-bottom: 36px;

        a {
            font-weight: bold;
        }

        &:nth-child(2n+n) {
            margin-right: 0px;
        }

        img {
            @extend .img-rounded;
            margin-bottom: 18px;
        }
    }
}

.spec-item {
    margin-top: 18px;
    position: relative;

    & + .spec-item {
        margin-top: 36px;
    }

    .spec-desc {
        padding-top: 54px;

        .person-title {
            margin-bottom: 8px;
        }
    }

    .spec-full {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 5;
        background: $body-bg-color;
        @include bleed(18px, top right bottom left);
        @include border-radius(5px);
        @include single-box-shadow;

        .modal-close {
            background: image-url('modal-close-spec.png');
            width: 36px;
            height: 36px;
            position: absolute;
            top: 9px;
            right: 9px;
            cursor: pointer;
        }

        .controls {
            margin-top: 18px;
            margin-bottom: 18px;
        }
    }
}

.map {
    width: 560px;
    height: 394px;
}
// /content


// forms 
.form {
    padding-bottom: 18px;
    font-size: 16px;
    line-height: 18px;

    .required {
        font-weight: bold;
    }

    .top-text {
        padding-bottom: 6px;
    }

    .bottom-text {
        padding-top: 6px;
    }

    .hint {
        font-size: 14px;
    }

    fieldset {
        &.inline {
            .label-box,
            .field-box {
                display: inline-block;
                vertical-align: middle;
                margin-right: -4px;

                h3 {
                    margin-bottom: 0px;
                }
            }

            .label-box {
                width: 125px;
                padding-right: 50px;
            }

            .field-box + .field-box {
                margin-left: 38px;
            }
        }

        &.top-input-text {
            .label-box,
            .field-box {
                vertical-align: top;
            }

            .label-box {
                padding-top: 22px;
            }
        }

        &.fieldset-with-textarea {
            .label-box,
            .field-box {
                vertical-align: top;
            }
        }
    }

    .field-box {
        &.field-box-medium {
            width: 185px;
        }

        &.is-with-errors {
            input,
            textarea {
                border-color: red;
            }
        }
    }

    * + fieldset {
        margin-top: 26px;
    }

    .controls {
        margin-left: 175px;

        &.inline {
            button, .inline-hint {
                vertical-align: top;
            }
        }

        .inline-hint {
            margin-left: 20px;
            width: 200px;
            display: inline-block;
            font-size: 14px;
            line-height: 16px;
        }
    }

    * + .controls {
        margin-top: 36px;
    }

    input,
    textarea {
        font-family: $base-font-family;
        font-size: $base-font-size;
    }

    .input {
        &:focus {
            outline: none;
        }

        line-height: 26px;
        height: 26px;
        border: 1px solid $input-border-color;
        @include border-radius(4px);
        padding-left: 4px;
        padding-right: 4px;

        &.input-big {
            width: 285px;
        }

        &.input-medium {
            width: 175px;
        }

        &.input-phone {
            width: 260px;
        }
    }

    .textarea {
        resize: none;
        line-height: 18px;
        border: 1px solid $input-border-color;
        @include border-radius(4px);
        padding-left: 4px;
        padding-right: 4px;

        &:focus {
            outline: none;
        }

        width: 285px;
        height: 180px;
    }

    .phone-lead {
        display: inline-block;
        width: 20px;
        padding-right: 5px;
    }
}
// /forms

// header 
.header {
    margin-bottom: 18px;

    .head-logo-box {
        margin-left: -22px;
    }

    .page {
        height: 90px;
    }

    .phone-box {
        .small-text {
            margin-top: 2px;
            margin-bottom: 3px;
        }
    }

    .phone {
        font-size: 18px;
        line-height: 14px;
        position: relative;
    }
}
// /header

// footer
.footer {
    .page {
        border-top: 2px solid $gray-border-color;
        height: 75px;

        img {
            vertical-align: middle;
        }
    }
}

span.icon-octo {
    display: inline-block;
    background: image-url('octoberweb-logo.png');
    width: image-width('octoberweb-logo.png');
    height: image-height('octoberweb-logo.png');
    margin-right: 10px;
}
// /footer


// modals 
.modal-close {
    background: image-url('modal-close.png');
    width: 36px;
    height: 36px;
    position: absolute;
    top: -33px;
    right: -33px;
    cursor: pointer;
}

.modal-box {
    width: 400px;
    min-height: 180px;
    background: $body-bg-color;

    position: relative;
    margin-top: 22px;
    margin-left: 34px;
    margin-right: 34px;
    margin-bottom: 20px;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 34px;
        z-index: -1;
    }

    &:before {
        background: image-url('modal-bg-left.png');
        background-size: 100% 100%;
        left: -34px;
    }

    &:after {
        background: image-url('modal-bg-right.png');
        background-size: 100% 100%;
        right: -34px;
    }

    .top {
        position: absolute;
        height: 22px;
        width: 100%;
        top: -22px;
        left: 0px;
        background: image-url('modal-bg-top.png');
        z-index: -1;

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            height: 22px;
            width: 34px;
            z-index: -1;
        }

        &:before {
            background: image-url('modal-bg-top-left.png');
            left: -34px;
        }

        &:after {
            background: image-url('modal-bg-top-right.png');
            right: -34px;
        }
    }

    .bottom {
        position: absolute;
        height: 20px;
        width: 100%;
        bottom: -20px;
        left: 0px;
        background: image-url('modal-bg-bottom.png');
        z-index: -1;

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            height: 20px;
            width: 34px;
            z-index: -1;
        }

        &:before {
            background: image-url('modal-bg-bottom-left.png');
            left: -34px;
        }

        &:after {
            background: image-url('modal-bg-bottom-right.png');
            right: -34px;
        }
    }
}

#service-form-modal {
    width: 690px;
}

#question-form-modal {
    width: 690px;
}

#review-form-modal {
    width: 690px;
}

.super-heading {
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 40px;
    font-size: 16px;
}

.modal-center-text-box {
    display: table;

    .modal-center-text {
        display: table-cell;
        height: 200px;
        width: 350px;
        vertical-align: middle;
        text-align: center;
    }
}
// /modals


// test
.backup {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -3;

    .grid {
        background: image-url('grid.png') repeat-y;
        height: 100%;
        width: image-width('grid.png');
        margin: 0 auto;
    }
}
.one, .two {
    height: 100px;
    width: 100px;
    background: gray;
}
.one {
    margin-bottom: 50px;
}
.two {
    margin-top: 50px;
}
.modal-in {
    height: 300px;
    width: 400px;
    background: gray;
}
// /test