{% extends 'base.html' %}

{% block content %}
<div class="col-19 reviews">
    <h1 class="extra-bottom-margin">Календарь косметологических процедур</h1>
    <div class="col-4">
        <ul class="v-nav calendar-nav">
        {% for month in month_list %}
            {% if month == current_month %}
            <li class="is-active"><a href="{% url calendar_month_url month.id %}">{{month.title}}</a></li>
            {% else %}
            <li><a href="{% url calendar_month_url month.id %}">{{month.title}}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div class="col-15">
        {% regroup recomendations_list by type as recomendations %}

        {% for type in recomendations %}
            <h2>{{ type.grouper }}</h2>
            {% for recomendation in type.list %}
            {% with recomendation.service as service %}
            <h3><a href="{% url service_url service.category.id service.id %}">{{service.title}}</a></h3>
            <p class="medium-text">{{service.short_description}}</p>
            {% endwith %}
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}