{% extends 'base.html' %}

{% load thumbnail siteblocks_extras %}

{% block content %}
<div class="col-19">
    <h1>{{category.title}}</h1>
    <div class="text-page">
        {{category.description|safe}}
    </div>
    {% for service in service_list %}
    {% if service.has_subservices %}
    <h2><a href="{% url service_url category.id service.get_subservices.0.id %}">{{service.title}}</a></h2>
    <h5>
        <ul class="inline subservice-menu">
            {% for subservice in service.get_subservices %}
            <li><a href="{% url service_url category.id subservice.id %}">{{subservice.title}}</a></li>
            {% endfor %}
        </ul>
    </h5>
    {% else %}
    <h2><a href="{% url service_url category.id service.id %}">{{service.title}}</a></h2>
    {% endif %}
    <p>{{service.short_description}}</p>
    {% endfor %}
</div>
{% endblock %}

{% block side_menu %}
    {% get_side_menu request.path category %}
{% endblock %}