{% extends 'base.html' %}

{% load thumbnail siteblocks_extras %}

{% block content %}
<div class="col-19 service">
    <div class="medium-text">
        <a href="{% url service_list_url category.id %}">{{category.title}}</a>
    </div>
    <h1>{{service_title}}</h1>
    {% if service.parent.has_subservices %}
    <ul class="h-nav center-nav">
        {% for subservice in service.parent.get_subservices %}
        <li {% if service == subservice %}class="is-active"{% endif %}><a href="{% url service_url category.id subservice.id %}">{{subservice.title}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="col-14">
        <div class="col-13">
            <div class="text-page">
            {{service.description|safe}}
            </div>
            <div {% if service.has_prices %}class="highlighted"{%endif%}>
                {% if service.has_prices %}
                <h3>Стоимость услуги</h3>
                {% for price in service.get_prices %}
                <div class="service-price">{{price.price}}</div>
                <div class="medium-text">{{price.title}}</div>
                {% endfor %}
                {% endif %}
                <a href="{% url service_sign_form_url %}?serv={{service.id}}" class="btn-orange fancybox fancybox.ajax">Записаться</a>
            </div>
        </div>
    </div>
    <div class="col-5 omega">
        <div class="medium-text service-side-text">
            {{service.side_text|safe}}
        </div>
        {% get_side_random_spec service=service %}
        {% get_side_random_review %}
    </div>
</div>
{% endblock %}

{% block side_menu %}
    {% get_side_menu request.path service.category %}
{% endblock %}