<p>
    <h2>АзияСпа - Новая запись на процедуру</h2>
    <hr>
    <p>Дата создания: {{ object.created_at|date:"j E Y" }}</p>
    <p>Имя: {{ object.initials }}</p>
    <p>Телефон: {{ object.phone }}</p>
    <p>Процедура: {{object.service}}</p>
    <p>Желаемая дата: {{object.desired_date}}</p>
    <p>Желаемое время: {{object.desired_time}}</p>
</p>