<div class="modal-box" id="service-form-modal">
    <div class="top"></div>
    <div class="content">
        <div class="super-heading">
            <h1>Запись в клинику эстетической медицины «Asia Spa»</h1>
            <p>Мы будем рады встрече с Вами, запись на процедуру займет меньше минуты</p>
        </div>
        <form action="{% url service_sign_form_url %}" class="form fancybox-response">
            {% csrf_token %}
            <fieldset class="inline">
                <div class="label-box">
                    <label for="service-form-name">Название процедуры</label>
                </div>
                <div class="field-box">
                    <h3>{{service.title}}</h3>
                    <div class="is-hidden">
                        {{form.service}}
                    </div>
                </div>
            </fieldset>
            <fieldset class="inline">
                <div class="label-box required">
                    <label for="service-form-name">Ваше имя</label>
                </div>
                <div class="field-box{% if form.initials.errors %} is-with-errors{% endif %}">
                    <input type="text" name="initials" class="input input-big" id="service-form-name" value="{{form.initials.value|default_if_none:''}}">
                </div>
            </fieldset>
            <fieldset class="inline">
                <div class="label-box required">
                    <label for="service-form-phone">Телефон</label>
                </div>
                <div class="field-box{% if form.phone.errors %} is-with-errors{% endif %}">
                    <span class="phone-lead">+7</span><input type="text" name="phone" class="input input-phone" id="service-form-phone" value="{{form.phone.value|default_if_none:''}}">
                </div>
            </fieldset>
            <fieldset class="inline top-input-text">
                <div class="label-box">
                    <label for="service-form-date">Желаемая дата и время визита</label>
                </div>
                <div class="field-box field-box-medium{% if form.desired_date.errors %} is-with-errors{% endif %}">
                    <div class="top-text">
                        <label for="service-form-date">Дата</label>
                    </div>
                    <div>
                        <input type="text" name="desired_date" class="input input-medium" id="service-form-date" value="{{form.desired_date.value|default_if_none:''}}">
                    </div>
                    <div class="bottom-text">
                        <em>Например, 24 апреля или “на этой неделе”</em>
                    </div>
                </div>
                <div class="field-box field-box-medium{% if form.desired_time.errors %} is-with-errors{% endif %}">
                    <div class="top-text">
                        <label for="service-form-time">Время</label>
                    </div>
                    <div>
                        <input type="text" name="desired_time" class="input input-medium" id="service-form-time" value="{{form.desired_time.value|default_if_none:''}}">
                    </div>
                    <div class="bottom-text">
                        <em>Например, после шести</em>
                    </div>
                </div>
            </fieldset>
            <div class="controls inline">
                <button tupe="submit" class="btn-orange">Отправить заявку</button>
                <div class="inline-hint"><strong>Поля, выделенные жирным, обязательны для заполнения</strong></div>
            </div>
        </form>
    </div>
    <div class="bottom"></div>
</div>