div.special-light {
  margin-left: -12px !important;
  padding-left: 12px !important;
  margin-right: -12px !important;
  padding-right: 12px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  background: #ffebd5 !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  border-radius: 5px !important;
}

div.special-dark {
  box-sizing: border-box !important;
  padding: 6px 18px !important;
  background: #7b2e00 !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  border-radius: 5px !important;
  color: white !important;
}

div.callout {
  box-sizing: border-box !important;
  padding-left: 20px !important;
  border-left: 2px solid #7f7f7f !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}