{% extends 'clinic.html' %}

{% load thumbnail siteblocks_extras %}

{% block clinic_content %}
    <div class="col-19 soc-list i-container">
        {% for item in licence_list %}
        <div class="soc-item col-5">
            <a href="{{item.image.url}}" class="img-link fancybox-img">
            {% thumbnail item.image "160x108" as img %}
                <img class="with-shadow" src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
            {% endthumbnail %}
            </a>
            <p>{{item.description|linebreaks}}</p>
        </div>
        {% endfor %}

        {% if is_paginated and page_obj.paginator.num_pages > 1 %}
            {% include 'pagination.html' %}
        {% endif %}
    </div>
{% endblock %}