{% extends 'clinic.html' %}

{% load thumbnail siteblocks_extras %}

{% block clinic_content %}
    <div class="col-19 soc-list i-container">
        {% for news_item in news_list %}
        <div class="soc-item col-5">
            <p>
                <a href="{% url news_item_url news_item.id %}" class="multiline">{{news_item.title}}</a>
            </p>
            <p>{{news_item.short_text}}</p>
            <em>{{news_item.created_at}}</em>
        </div>
        {% endfor %}

        {% if is_paginated and page_obj.paginator.num_pages > 1 %}
            {% include 'pagination.html' %}
        {% endif %}
    </div>
{% endblock %}