{% extends 'base.html' %}

{% load thumbnail siteblocks_extras %}

{% block content %}
<div class="col-19">
    <div class="col-14">
        <div class="medium-text">
            <a href="{% url news_url %}">Новости</a>
        </div>
        <h1>{{newsitem.title}}</h1>
        <div class="text-page">
            {{newsitem.full_text|safe}}
        </div>
    </div>
    <div class="col-4 push-1 service-side omega">
        {% get_side_random_spec %}
    </div>
</div>
{% endblock %}