{% extends 'clinic.html' %}

{% load thumbnail siteblocks_extras %}

{% block clinic_content %}
    <div class="col-19 soc-list i-container">
        {% for soc_item in social_list %}
        <div class="soc-item col-5">
            <a href="{% url social_item_url soc_item.id %}" class="img-link">
            {% thumbnail soc_item.image "160x108" as img %}
                <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
            {% endthumbnail %}
            </a>
            <div>
                <a href="{% url social_item_url soc_item.id %}" class="multiline">{{soc_item.title}}</a>
            </div>
            <em>{{soc_item.created_at}}</em>
        </div>
        {% endfor %}

        {% if is_paginated and page_obj.paginator.num_pages > 1 %}
            {% include 'pagination.html' %}
        {% endif %}
    </div>
{% endblock %}