<p>
    <h2>АзияСпа - Новый Отзыв</h2>
    <hr>
    <p>Дата отзыва: {{ object.created_at|date:"j E Y" }}</p>
    <p>Имя автора: {{ object.initials }}</p>
    <p>Электронная почта автора: {{ object.email }}</p>
    <h3>Отзыв:</h3>
    <p>{{object.review|linebreaks}}</p>
</p>