<div class="modal-box" id="review-form-modal">
    <div class="top"></div>
    <div class="content">
        <div class="super-heading">
            <h1>Оставить отзыв о клинике «Asia-Spa»</h1>
        </div>
        <form action="{% url review_form_url %}" method="post" class="form fancybox-response">
            {% csrf_token %}
            <fieldset class="inline fieldset-with-textarea">
                <div class="label-box required">
                    <label for="review-form-review">Отзыв</label>
                </div>
                <div class="field-box{% if form.review.errors %} is-with-errors{% endif %}">
                    <textarea name="review" id="review-form-review" cols="30" rows="10" class="textarea">{{form.review.value|default_if_none:''}}</textarea>
                </div>
            </fieldset>
            <fieldset class="inline">
                <div class="label-box required">
                    <label for="review-form-name">Имя</label>
                </div>
                <div class="field-box{% if form.initials.errors %} is-with-errors{% endif %}">
                    <input name="initials" type="text" value="{{form.initials.value|default_if_none:''}}" class="input input-big" id="review-form-name">
                </div>
            </fieldset>
            <fieldset class="inline">
                <div class="label-box required">
                    <label for="review-form-email">Электронная почта</label>
                </div>
                <div class="field-box {% if form.email.errors %} is-with-errors{% endif %}">
                    <input name="email" type="text" value="{{form.email.value|default_if_none:''}}" class="input input-big" id="review-form-email">
                </div>
            </fieldset>
            <div class="controls inline">
                <button type="submit" class="btn-orange">Оставить отзыв</button>
                <div class="inline-hint"><strong>Поля, выделенные жирным, обязательны для заполнения</strong></div>
            </div>
        </form>
    </div>
    <div class="bottom"></div>
</div>