<div class="modal-box" id="success-form-modal">
    <div class="top"></div>
    <div class="content modal-center-text-box">
        <div class="modal-center-text">
            Ваш отзыв успешно добавлен!
        </div>
    </div>
    <div class="bottom"></div>
</div>