{% extends 'base.html' %}

{% block content %}
<div class="col-19 reviews">
    <h1>Отзывы наших клиентов</h1>
    <div class="col-14">
        {% for review in review_list %}
        <div class="special-box with-triangle">
            <div class="top"></div>
            <p>{{review.review|linebreaks}}</p>
            <div class="bottom"></div>
        </div>
        <ul class="inline review-author">
            <li>{{review.initials}}</li>
            <li class="muted-text medium-text"><em>{{review.created_at|date:"j E"}}</em></li>
        </ul>
        {% empty %}
        <p>Отзывов пока нет</p>
        {% endfor %}
        
        {% if is_paginated and page_obj.paginator.num_pages > 1 %}
            {% include 'pagination.html' %}
        {% endif %}
    </div>
    <div class="col-4 push-1 reviews-side">
        <p>Если Вы уже пользовались услугами нашего центра, то оставьте, пожалуйста, отзыв о ваших впечатлениях</p>
        <a href="{% url review_form_url %}" class="btn-orange fancybox fancybox.ajax">Добавить отзыв</a>
    </div>
</div>
{% endblock %}