{% extends 'clinic.html' %}

{% load thumbnail siteblocks_extras %}

{% block clinic_content %}
<div class="col-19">
    <div class="col-14">
        {{page.content|safe}}
        {% get_about_gallery %}
    </div>
    <div class="col-4 push-1 omega">
        {% get_side_random_spec %}
    </div>
</div>
<div class="col-19 contaxts-page" id="contacts">
    <h3 class="extra-top-margin extra-bottom-margin">Адрес и схема проезда</h3>
    <div class="col-14">
        <div class="map">
            {% get_setting 'map' %}
        </div>
    </div>
    <div class="col-4 push-1">
        <div class="contacts">
            <div class="address medium-text"><span class="icon-mark"></span><strong>Курнатовского, 7б</strong></div>
            <div class="phone"><span class="icon-phone"></span>35-94-54</div>
        </div>
    </div>
</div>
{% endblock %}