{% load siteblocks_extras %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block META_description %}{{ meta.description }}{% endblock %}"/>
    <meta name="keywords" content="{% block META_keywords %}{{ meta.keywords }}{% endblock %}"/>
    <link rel="stylesheet" href="/static/js/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="/static/css/application.css">
    <title>
        {% block title %}
            {% if meta.title %}
                {% ifnotequal meta.title ''  %}
                    {{ meta.title }} &mdash;
                {% endifnotequal %}
            {% endif %}
        {% endblock %}
        {{ site_name }}
    </title>
</head>

<body>
    <div class="header">
        <div class="page cell-line">
            <div class="col-5">
                <div class="head-logo-box">
                    <a href="/" class="img-link">
                        <img src="/static/img/header-logo-new.png" alt="asiaspa">
                    </a>
                </div>
            </div>
            <div class="col-14">
                <ul class="h-nav main-nav">
                    <li><a href="{% url clinic_url %}">О клинике</a></li>
                    <li><a href="{% url spec_list_url %}">Наши специалисты</a></li>
                    <li><a href="{% url review_list_url %}">Отзывы</a></li>
                    <li><a href="/info/">Полезная информация</a></li>
                </ul>
            </div>
            <div class="col-4 prefix-1 phone-box">
                <div class="small-text muted-text">консультация</div>
                <div class="phone"><span class="icon-phone"></span>35-94-54</div>
                <div class="small-text"><a href="{% url clinic_url %}#contacts">адрес и схема проезда</a></div>
            </div>
        </div>
    </div>
    <div class="page main">
    {% block side_menu %}
        {% get_side_menu request.path %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    </div>
    <div class="footer">
        <div class="page cell-line">
            <div class="col-5">
                <a href="/" class="img-link">
                    <img src="/static/img/footer-logo.png" alt="">
                </a>
            </div>
            <div class="col-15">
                <ul class="h-nav main-nav">
                    <li><a href="{% url clinic_url %}">О клинике</a></li>
                    <li><a href="{% url spec_list_url %}">Наши специалисты</a></li>
                    <li><a href="{% url review_list_url %}">Отзывы</a></li>
                    <li><a href="/">Полезная информация</a></li>
                </ul>
            </div>
            <div class="col-1 right-text">
                <span class="icon-octo"></span>
            </div>
            <div class="col-3 small-text muted-text">
                Сайт разработан<br>в <a href="">«OctoberWeb»</a>
            </div>
        </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/fancybox/jquery.fancybox.pack.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/bxslider/jquery.bxslider.min.js"></script>
</body>
</html>