{% extends 'base.html' %}

{% load thumbnail siteblocks_extras %}

{% block content %}
<div class="col-19">
    {% if not '/info/' in request.path %}
        <h1 class="extra-bottom-margin">Клиника эстетической медицины «Asia-Spa»</h1>
        {% get_clinic_menu request.path %}
    {% endif %}
    {% block clinic_content %}
    {% endblock %}
</div>
{% endblock %}