{% extends 'base.html' %}

{% load thumbnail siteblocks_extras %}

{% block content %}
<div class="col-19">
    <div class="col-19 box index-previews">
        {% get_index_slider %}
    </div>
    <div class="col-14">
        {% get_setting 'about_text' %}
        {% get_index_gallery %}
        <h5><a href="{% url clinic_url %}">О клинике «Asia Spa»</a></h5>
    </div>
    <div class="col-4 push-1">
        {% get_index_last_news %}
    </div>
</div>
{% endblock %}