<ul class="h-nav pagination">
    {% if not page_obj.number == 1 %}
        <li><a href="{{request.path}}?page=1">1</a></li>
        {% if not page_obj.number == 2 %}
            <li><a href="{{request.path}}?page={{ page_obj.number|add:'-1' }}">{{ page_obj.number|add:'-1' }}</a></li>
        {% endif %}
    {% endif %}
    <li class="is-active"><a href="{{request.path}}?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
    {% if not page_obj.number == page_obj.paginator.num_pages %}
        <li><a href="{{request.path}}?page={{ page_obj.number|add:'1' }}">{{ page_obj.number|add:'1' }}</a></li>
        {% if not page_obj.number == page_obj.paginator.num_pages|add:"-1" %}
            <li><a href="{{request.path}}?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
        {% endif %}
    {% endif %}
</ul>