<ul class="h-nav center-nav">
    {% for item in menu_item_list %}
    <li {% if item == current_item %}class="is-active"{% endif%}><a href="{{item.url}}">{{item.title}}</a></li>
    {% endfor %}
</ul>