{% load thumbnail %}

<div class="previews box">
    {% for photo in photo_list %}
    <div class="preview-item">
        <a class="fancybox-img img-link" rel="group" href="{{photo.image.url}}">
        <div class="img-box img-with-blik">
            {% thumbnail photo.image "160x92" crop="center" as img %}
                <img src="{{img.url}}" alt="" width="{{img.width}}" height="{{img.height}}">
            {% empty %}
            <img src="{{img.url}}" alt="" width="160" height="92">
            {% endthumbnail %}
        </div>
        </a>
    </div>
    {% endfor %}
</div>