{% load thumbnail %}

<div class="index-preview-big">
    <ul class="index-slider" data-delay="0">
    {% for item in slider_items_big %}
        <li>
        {% if item.has_text %}
            <a href="{{item.link}}" class="img-link">
            {% thumbnail item.image "260x306" crop="center" as img %}
                <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
            {% endthumbnail %}
            </a>
            <div class="text">
                {{item.title}}
            </div>
        {% else %}
            {% thumbnail item.image "260x306" crop="center" as img %}
                <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
            {% endthumbnail %}
        {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
<div class="index-preview-small">
    <ul class="index-slider" data-delay="3000">
    {% for item in slider_items_small_top %}
        <li>
        {% if item.has_text %}
            <a href="{{item.link}}" class="img-link">
            {% thumbnail item.image "160x144" crop="center" as img %}
                <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
            {% endthumbnail %}
            <div class="text">
                {{item.title}}
            </div>
            </a>
        {% else %}
            {% thumbnail item.image "160x144" crop="center" as img %}
                <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
            {% endthumbnail %}
        {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
<div class="index-preview-medium">
    <ul class="index-slider" data-delay="6000">
    {% for item in slider_items_medium_top %}
        <li>
        {% if item.has_text %}
            <a href="{{item.link}}" class="img-link">
            {% thumbnail item.image "300x144" crop="center" as img %}
                <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
            {% endthumbnail %}
            <div class="text">
                {{item.title}}
            </div>
            </a>
        {% else %}
            {% thumbnail item.image "300x144" crop="center" as img %}
                <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
            {% endthumbnail %}
        {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
<div class="index-preview-medium">
    <ul class="index-slider" data-delay="9000">
    {% for item in slider_items_medium_bottom %}
        <li>
        {% if item.has_text %}
            <a href="{{item.link}}" class="img-link">
            {% thumbnail item.image "300x144" crop="center" as img %}
                <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
            {% endthumbnail %}
            <div class="text">
                {{item.title}}
            </div>
            </a>
        {% else %}
            {% thumbnail item.image "300x144" crop="center" as img %}
                <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
            {% endthumbnail %}
        {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
<div class="index-preview-small">
    <ul class="index-slider" data-delay="12000">
    {% for item in slider_items_small_bottom %}
        <li>
        {% if item.has_text %}
            <a href="{{item.link}}" class="img-link">
            {% thumbnail item.image "160x144" crop="center" as img %}
                <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
            {% endthumbnail %}
            <div class="text">
                {{item.title}}
            </div>
            </a>
        {% else %}
            {% thumbnail item.image "160x144" crop="center" as img %}
                <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
            {% endthumbnail %}
        {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>