{% load thumbnail %}
<div class="side-spec">
    <div class="person-img">
        {% thumbnail spec.image "149x174" as img %}
            <img src="{{img.url}}" alt="" width="{{img.width}}" height="{{img.height}}">
        {% empty %}
            <img src="/static/img/noimage-spec.png" alt="" width="149" height="174">
        {% endthumbnail %}
    </div>
    <div><a href="{% url spec_list_url %}" class="multiline">{{spec.initials}}</a></div>
    <p><em>{{spec.title}}</em></p>
    <div>
        <a href="{% url spec_q_form_url %}?spec={{spec.id}}" class="btn-orange fancybox fancybox.ajax">Задать вопрос</a>
    </div>
</div>