<div class="col-5">
    <ul class="col-4 nav side-nav">
        {% for category in category_list %}
        {% if category == current_parent_category %}
        <li class="is-active is-expanded">
        {% else %}
        <li>
        {% endif %}
            <a href="" class="action-link category-link">{{category.title}}</a>
            {% if category.has_subcategories %}
            <ul>
                {% for subcategory in category.subcategory_set.all %}
                {% if subcategory == current_category %}
                <li class="is-active">
                    <div class="top"></div>
                    <a href="{% url service_list_url subcategory.id %}">{{ subcategory.title }}</a>
                    <div class="bottom"></div>
                </li>
                {% else %}
                <li>
                    <a href="{% url service_list_url subcategory.id %}">{{ subcategory.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
        <li class="hr-top {% if current_category == 'calendar' %}is-active{% endif %}">
            <a href="{% url calendar_url %}">Календарь косметологических процедур</a>
        </li>
    </ul>
</div>