<div class="reviews-box">
    <h3>Отзывы</h3>
    <div class="special-box with-triangle">
        <div class="top"></div>
        <p class="medium-text">{{review.review}}</p>
        <div class="bottom"></div>
    </div>
    <p class="review-author">
        <em>{{review.initials}}</em>
    </p>
    <p>
        <em class="medium-text"><a href="{% url review_list_url %}">Все отзывы</a></em>
    </p>
</div>